body{
	font-size:12px;
	background-image: url(bg.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	color: #333333;
	background-color: #E1EFBE;
}
.menu-bg{
	background-image: url(menu-bg.jpg);
	height: 27px;
}
.menu-line{
	background-image: url(menu.jpg);
	height: 27px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 2px;
}
a {
color:#000080;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
a.menu {
	color:#FFFFFF;
	text-decoration:none;
	font-family: "ו";
	font-weight: bold;
	font-size: 12px;
}
a.menu:hover {
	text-decoration:none;
	font-family: "ו";
	font-size: 12px;
	font-weight: bold;
	color: #FFFF00;
}
.user-bg{
	background-image: url(user-title1.gif);
	background-attachment: scroll;
	background-repeat: no-repeat;
	height: 191px;
	width: 182px;
	display: block;
}
.user-inputline{
	font-size: 12px;
	color: #5F8433;
	height: 16px;
	width: 82px;
	border: 1px solid #5F8433;
}
.user-font{
	font-size: 12px;
	color: #5F8433;
	line-height: 18px;
	padding-right: 5px;
}
.left-border{
	border: 1px solid #E3E3E3;
	font-size: 12px;
	color: #333333;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	line-height: 18px;
	background-color: #F7F7f7;
}
.left-font{
	font-size: 12px;
	color: #FFFFFF;
	line-height: 18px;
	font-weight: bold;
	background-image: url(left-pic-bg.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 182px;
}
.center-border{
	border: 1px solid #A1D755;
	font-size: 12px;
	color: #333333;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	line-height: 18px;
}
.center-border-color{
	border: 1px solid #C2EEA1;
	font-size: 12px;
	color: #333333;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	line-height: 18px;
}
.hight-top-color{
	font-size: 12px;
	color: #FFFFFF;
	line-height: 18px;
	font-weight: bold;
	background-color: #B7D3B7;
	padding-left: 2px;
}
.hight-center-color{
	font-size: 12px;
	color: #213200;
	line-height: 18px;
	font-weight: normal;
	background-color: #EFF5EF;
}
.hight-bottom-color{
	font-size: 12px;
	color: #213200;
	line-height: 18px;
	font-weight: normal;
	background-color: #f8f8f8;
}
.right-border{
	border: 1px solid #E3E3E3;
	font-size: 12px;
	color: #333333;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	line-height: 18px;
	background-color: #F7F6F2;
}
.bottom-bgcolor{
	background-color: #E1EFBE;
	font-size: 12px;
	color: #333333;
	line-height: 22px;
	text-align: center;
}
.bottom-font{
	font-size: 12px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}
