body{
	font-size:12px;
	font-family:"微软雅黑"!important;
	margin:0px;
	padding:0px;
	HEIGHT:100%;
	overflow:hidden;
	
	
}

#objtb22{
	PADDING: 0px;
	border:1px #fff solid;
	width:953px;
	margin:0px;
}
.linear-green{
  font-family:"微软雅黑";
  font-weight: 600;
  border-radius: 5px;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #eff7e3), color-stop(0.5, #d8eabb), color-stop(0.51, #c4e09d), color-stop(1, #dfeec7))!important;
}
#from_top{
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
	PADDING: 0px;
	text-align:center;
	height:45px;
	width:953px;
	/*background: scroll url(images/head_bg.gif) repeat;*/
	}

#from_top_left{
    width:757px;
    float:left;}
	
#from_top_right{
    width:196px;
    float:right;
	text-align:right;}
	
#from_top_right_bg{
    /*background:url(images/head_right_bg.gif) no-repeat scroll;*/
    width:192px;
    height:25px;}

#from_top_right_text{
    font-family: Arial;
	font-size: 12px;
	padding-top:1px;
	text-align:center;
  margin-top: 11px;
}

.from_top_text{
	font-family: Arial;
	font-size: 20px;
	font-weight:bolder;
	padding-top:10px;
	padding-left:10px;
	text-align:left;
}

.center{
    border:#6371A5 solid 1px;
    height:55px;
    padding:5px;
	background-color:#7B8EB5;}

.center01{
    border:#6371A5 solid 1px;
	background-color:#7B8EB5;}
	
.center02{

	background:#7B8EB5;}
		
.center_button{
    border:#51617A solid 1px;
    height:48px;
    padding:7px 5px 3px;
	background-color:#738AAD;}

#maintab-body{
    margin: 0px 0px 0px 0px;
    padding: 0;
    border: 0;
    font-family:Tahoma,Arial;
    font-size:76%;
    text-align:left;
    overflow:hidden;
}

#embed-items{
    width:833px;
    MARGIN-RIGHT: 0px;
	MARGIN-LEFT: 0px;
    padding:0px;
}

.modify_table,
#modify_table{
border-collapse: collapse;
}
#modify_table{
  position: relative; top:-17px;
}
.modify_table thead,
#modify_table thead {
background:	#fff;
}
.modify_table_tr,
#modify_table_tr {
/*url(images/from_top_bg.jpg)*/
background:rgb(184,204,228);
cursor: pointer;
_cursor:hand;
height:20px;
}

td.desc{
vertical-align: middle;
height:24px; 
}

/*ta-columnsPerRow(table wide)-columsThisColumnOccupied(column specific)-rowsThisColumnOccupied(column specific)*/
table.objtb textarea.ta-2-2-6,
table.objtb textarea.ta-3-2-6,
table.objtb textarea.ta-4-2-6{
border: 1px solid #7E92B1;
color: #333333;
padding:0px;

}

.emtb{
    height:22px;
}

.emtbts{
   height:22px;
}

.embed_td{
    height:30px;
}

.embed_tds{
    height:30px;
}

.desc-txt{  
}

.desc-txt-white{
}

.desc-txt-red24{
    color:#ff0000;
    font-size: 24px;
    font-weight:bold;
}

div.obj div.desc-txt{
	margin:5px 0px 4px 5px;
	text-align:right;
}

.value{
   vertical-align:bottom;
   padding:0px 0px 4px 4px;
}

#from_input{padding:5px 0 0 40px;}

.input{
	border:1px solid #476388;
	color:#333;
	background: #e0e0e0 url(images/button_bg.gif) repeat;
	height: 22px;
	width:100px;
}

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav, .ui-tabs-panel {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 100px; /* be nice to Opera */
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: url(images/tab.png) no-repeat;
    background: url(images/tab.gif) no-repeat;
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    color: #10509E;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #000;
    padding-top: 0px;
    padding-right: 2px;
}
.ui-tabs-nav a span {
    width: 100px; /* IE 6 treats width as min-width */
    min-width: 100px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 0px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -58px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -38px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0% -18px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    padding: 2px;
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

#query-search-content {
   overflow:visible;
   width:646px;
   padding:5px 0px 5px 5px;
}

#query-search-content-inc {
   overflow:visible;
   width:391px;
   padding:5px 0px 5px 5px;
}

#treatment_td_inc{ 
    height:40px;
    width:365px;
}

#query-search-tab {
    padding:5px 0px 0px 5px;
    overflow:visible;
    width:300px;
    float:left;
}

#q_search_condition{
    width:294px;
}

#q_result-scroll{
   margin:0px 5px 0px 0px;
   width:390px;
}

#query-search {
   padding:25px 5px 0px 0px;
   overflow:visible;
   width:270px;
   float:right;
}

#q_border{   
    border: 1px solid #fff;
    padding: 2px;
    }

#qbtns{
   padding:0px;
   text-align:right;
   clear:both;
}

.q_input{
   border:1px #ccc solid;
   height:18px;
   width:150px;
   background-color:#FFFFFF;
   text-transform: uppercase;
   }

.q_input_80{
   border:1px #ccc solid;
   height:18px;
   width:80px;
   background-color:#FFFFFF;}

.qinput{
	 border:1px solid #476388;
	 color:#333;
	 background: #e0e0e0 url(images/button_bg.gif) repeat;
	 height: 22px;
}

#treatment_td{

    height:40px;
}

#treatment_text{
    font-size:14px;
    padding:10px;
}

#treatment_table{
    margin:5px;}

#bulk_td{
    height:30px;
   padding:5px;}

#amount_content{
    overflow:visible;
    width:400px;
}

#amount_botder{
    border:#CCCCCC 1px solid;
	padding:10px;
}

.selected{

}

#listbody{
     /*scroll-y:visible;*/
     /*overflow-y:auto;*/
     width:100px;
}
.table{
     scroll-y:visible;
}	

textarea {
/*font-size:1em;*/
font: normal 9pt "Verdana", "Arial", "Helvetica", "sans-serif";
color:#ff0000;
}
td.desc{
	background-color:;
}