.toolBar{background: buttonface;border-top: 1px solid buttonface;	border-left: 2px groove;	border-bottom: 1px solid buttonshadow; border-right: 2px groove; padding: 1px; font: menu;}
.coolButton,
.coolButtonHover,
.coolButtonActiveHover,
.coolButtonActive,
.coolButtonActiveDisabled,
.coolButtonDisabled,
.coolButtonUpDisabled {
	cursor: 			Default;
	font: 				Icon;
	font-weight: 		normal;
	padding:			2px;
	border:				0px solid ButtonFace;
	white-space:		nowrap;
	vertical-align:		middle;
}

.coolButton img {
	/*filter:				gray();*/
}

.coolButtonHover {
	border-width:		1px;
	border-left-color:	ButtonHighlight;
	border-right-color:	ButtonShadow;
	border-top-color:	ButtonHighlight;
	border-bottom-color:ButtonShadow;
	padding:			1px;		
}

.coolButtonActiveHover {
	border-width:		1px;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:	ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding:			1px;
}

.coolButtonActive {
	border-width:		1px;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:	ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding:			1px;
	background-image:	url("/html/nds/images/cbback.gif");
}

.coolButtonUpDisabled,
.coolButtonActiveDisabled,
.coolButtonDisabled {
	padding:			1px;
	color:				GrayText;
	border-width: 		1px;
}

.coolButtonActiveDisabled {
	border-width:		1px;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:	ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding:			1px;
}

.coolButtonUpDisabled {
	border-width:		1px;
	border-left-color:	ButtonHighlight;
	border-right-color:	ButtonShadow;
	border-top-color:	ButtonHighlight;
	border-bottom-color:ButtonShadow;
}

/* My latest build of mozilla crashed with the opacity */
.coolButtonUpDisabled img,
.coolButtonActiveDisabled img,
.coolButtonDisabled img {
	-moz-opacity:		0.5;
}

/* IE specific
 * When the button becomes disbabled the innerHTML is enclosed by two spans
 * This is done so that the image will look disabled using filters
 */
.coolButtonUpDisabled .coolButtonDisabledContainer,
.coolButtonActiveDisabled .coolButtonDisabledContainer,
.coolButtonDisabled .coolButtonDisabledContainer {
	display:			block;
	background:			GrayText;
	filter:				chroma(color=#010101) dropshadow(color=ButtonHighlight, offx=1, offy=1);
	width:				100%;
	height:				100%;
	vertical-align:		center;
}

.coolButtonUpDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer,
.coolButtonActiveDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer,
.coolButtonDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer {
	background:			Transparent;
	filter:				gray()
						/* Remove all bright shades of gray */
						chroma(color=#ffffff) chroma(color=#fefefe) chroma(color=#fdfdfd)
						chroma(color=#fcfcfc) chroma(color=#fbfbfb) chroma(color=#fafafa)
						chroma(color=#f9f9f9) chroma(color=#f8f8f8) chroma(color=#f7f7f7)
						chroma(color=#f6f6f6) chroma(color=#f5f5f5) chroma(color=#f4f4f4)
						chroma(color=#f3f3f3) 
						mask(color=#010101);
}

/* end IE specific */
.qline2{
border-bottom: 1px #999999 solid;
border-style:none none solid; 
vertical-align: middle; 
width:120px;
}
.qline3{
border-bottom: 1px #999999 solid;
border-style:none none solid; 
vertical-align: middle; 
width:80px;
}
#query-search-content {
padding:5px 0px 0px 5px;
overflow:visible;
min-width:600px;
max-width:668px;
/*width:600px;*/
}
#q_search_condition{
/*
 width:590px;
 width:566px;
 */
 margin: 5px;
 /*width:100%;*/
 line-height: 19px;
}
#q_result-scroll{
 margin:0px 5px 0px 0px;
 width:600px;
/*  min-width:600px;
 max-width:668px; */
}
#qbtns{
margin:5px 10px 10px 5px;
text-align:right;
}
#qbtns2{
/*margin:5px 10px 10px 5px;*/
text-align:right;
}
#qbtns-multi{
margin:0 0 0 18px;
+margin:5px 10px 10px 5px;/*IE¿ÉÖ´ÐÐ*/
float:left;
}
#multi-buttons{
margin:0px 0px 0px 0px;
}
#q_embed_lines,.q_embed_lines{
height: expression( this.scrollHeight > 268 ? "268px": (this.scrollHeight < 100 ?"100px": "auto") );
max-height:268px;
min-height:100px;
width:600px;
/*min-width:600px;*/
/*max-width:680px;*/
/*overflow:auto;*/
/*margin:5px 0px 0px 5px;*/
margin:1px 0px 0px 1px;
}
#query-result{
overflow:auto;
max-height: 266px;
}
#q_result-filter-desc{
margin:0px 0px 10px 5px;
font-style:italic;
}
#q_progress{
margin:0px 30px 0px 0px;
}
.comboBoxList {position:absolute;padding: 0px;border: 1px solid  #000;text-align:left;z-index:9;background-color:#FFFFFF;}
#clearline{clear:both;
height:10px;
width:100%;}
/*
#portal-content{
padding:0px;
margin:5px 0px;
}
*/
#column_24293 {
border:2px solid;
color:#FF0000;
font-size:16px;
font-weight:bold;
height:20px;
}
.img-4-2{
 width:320px;
}
.img-2-2{
 width:500px;
}
.img-2-1{
 width:200px;
}
.img-4-1{
 /*width:150px;*/
 width:120px;
}
#embed-lines{
 overflow-x:hidden;
 overflow-y:hidden;
 _padding-bottom:18px;/*for scrollbar*/
 margin-left:5px;
 /*width:expression( document.body.width > 260 ? "260px":(document.body.width-260)+"px" );*/
}
.readonly{
 /*background-color:#cccccc;*/
}
#timeoutBox {
background:#FFFFCC none repeat scroll 0% 0%;
border:1px solid #ffdd77;
position:absolute;
padding-top:24px;
right:0px;
text-align:left;
top:0px;
width:390px;
height:24px;
z-index:1001;
visibility:hidden;
display:none;
}
#timeout-txt{
color:#FF0000;
vertical-align:middle;
padding:6px 0px 3px 5px;
float:left;
position:relative;
}
#timeout-btn{
float:right;
position:relative;
padding:2px 4px 0px 0px;
}
blink {behavior: url(/html/nds/css/blink.htc);}
#multi-list,.multi-list{
border:0 solid #CCCCCC;
clear:both;
height:350px;
+height:354px;/*IE*/
margin:0;
overflow-y:auto;
padding:0;
width:150px;
+width:166px;/*IE*/
float:left;
}
#cont-multi-button{
margin:0px 0px 0px 0px;
}
#chatback{
padding-left:160px;
padding-top:5px;
position:absolute;
text-align:right;
}
#list-legend{
margin-left:20px;
margin-top:5px;
}

#list-legend SPAN.b{
border:1px outset black;
margin:4px;
padding:2px;
text-align:center;
}
.product-storage{
 width:42px;
}
.psl{
	float:left;
	width:21px;
	text-align:left;
}
.psr{
	float:left;
	width:21px;
	text-align:right;
	background-color:#C0FEC0;
}
span.ckbox{
 background-image:url(/html/nds/images/checkbox.gif);
background-repeat:no-repeat;
display:block;
height:16px;
width:16px;
}
.num{
text-align:right;
}
.hide{
visibility:hidden;
}
.mid{
vertical-align: middle;
padding:0px;
margin:0px;
}
.show{
display:block;
}
.pd1{
padding:0px 2px 0px 2px;
}
.pd2{
width:8px;
}
table.inlineobjtb{
width:100%;
}
.store1_desc_s,.psl .s{
background-color:#DDA2AD;
}
.store1_desc_c,.psl .c{
background-color:#C0C0FE;
}
.store1_desc_v,.psl .v{
background-color:FFFF80;
}

#all_total_desc{
 color:#ff0000;
 font-weight:bold;
}

#turboscan_div{
 padding:5px;
 
}
#ts_output{
 padding-top:10px;
 clear:both;
}
#ts_sum{
padding:10px;
}
#ts_desc{
font-size:18px;
font-weight:bold;
float:left;
}
#ts_qty{
font-size:18px;
font-weight:bold;
color:#ff0000;
}
#ts_close{
float:right;
}
.ts_error{
background-color:red;
/*text-decoration: blink;*/
}
.ts_row{
padding:2px 0px 2px 5px;
display:block;
}
.ts_row_err{
padding:2px 0px 2px 5px;
color:#ff0000;
display:block;
}
.ts_row5{
padding:2px 0px 2px 5px;
background-color:#D4D4D4;
display:block;
}
#ts_whole{
max-height:200px;
overflow:auto;
}
.img-3-3{
	max-width:730px;
}
.readonly_overlay{
  background-color: #666;
  opacity: 0.3;
  filter: alpha(opacity=30);
  padding: 0pt !IMPORTANT;
  margin: 0pt !IMPORTANT;
}
.fkfilter{
background-color:#EEEEEE;
background-image:url(/html/nds/images/filter.gif);
background-position:left top;
background-repeat:no-repeat;
clear:both;
margin:1px;
padding-bottom:1px;
padding-left:20px;
padding-right:5px;
white-space:normal;
}
.nn{color:#ff0000;}
#breadcrumb{
 font-size: 11px;
 color:#666;
}
#breadcrumb a{
 font-size: 11px;
 color:#666;
}
#cmdline{
border:0px;
}	