table.documentation {
 margin-top:10px;
 width:750px;
}
table.documentation td {
 border-top:1px solid #E5E5E5;
 padding:2px 10px 2px;
}
.fmt-comment{
 /*border:1px solid #cccccc;
 */
 color:#333333;
 margin-left:20px;
 padding:2px;
 font-size:10pt;
 /*background-color:#FFFFCA;*/
 display:none;
}
.indent{
 margin-left:40px;
 display:none;
}
.txt-columns{
 clear:both;
 font-weight:bold;
 padding:1px;
}
.txt-columns span .star{
 color:red;
}
.txt-param{
 display:none;
}
#output{
display:none;
}
#btn{
 margin-left:20px;
 margin-top:10px;
 margin-bottom:10px;
}
#coldesc{
 background-color:#FFFFCA;
}
.cols{
 padding:0px;
}
#collen{
display:none;
}
#message{
/*height:300px;
width:545px;*/
overflow-x:auto;
overflow-y:auto;
}
/*#flashcontent{
z-index:-1;
}
#fileInput1Uploader{
 z-index:2000;
}*/
.uploadifyQueueItem {
	font: 11px Verdana, Geneva, sans-serif;
	border: 2px solid #E5E5E5;
	background-color: #F5F5F5;
	margin-top: 5px;
	padding: 5px;
	width: 350px;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	width: 1px;
	height: 3px;
}