.error_int {  font-weight: bold; background-color: #FF9999; border-color: #666666 #666666 #666666 #666666; border-style: outset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
td {  font: 9pt/130% "Verdana", "Arial", "Helvetica", "sans-serif"; color: #333333}
a {  color: #0000CC; text-decoration: none}
body {  font: 9pt/130% "Verdana", "Arial", "Helvetica", "sans-serif"; color: #333333}
A:visited{TEXT-DECORATION: none；color: #FF0000}
A:hover{color: #FF6600; TEXT-DECORATION: underline}
a:active {  color: #FF0000}
select {  background: #FFFFFF}
input {  font: normal 9pt "Verdana", "Arial", "Helvetica", "sans-serif"; border: solid; border-color: #CCCCCC #999999 #000000; vertical-align: middle; border-width: 0px 0px 1px; background-color:transparent; color: #333333}
button {  font: normal 9pt "Verdana", "Arial", "Helvetica", "sans-serif"; border: 0px solid; border-color: #CCCCCC #999999 #999999 #CCCCCC; background:transparent; vertical-align: middle}
.TitleStyleClass {background-color: gray;border-style: none; color: black;font-weight: bold; padding: 0; }
.command_button
{
BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 4px; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(../images/button2char.gif); PADDING-BOTTOM: 2px; MARGIN: 2px 0px 1px 2px; OVERFLOW: hidden; BORDER-LEFT: medium none; WIDTH: 60px; CURSOR: hand; COLOR: #512e0b; PADDING-TOP: 1px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana; HEIGHT: 20px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.command2_button
{
BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 4px; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(../images/button2char.gif); PADDING-BOTTOM: 2px; MARGIN: 2px 0px 1px 2px; OVERFLOW: hidden; BORDER-LEFT: medium none; WIDTH: 60px; CURSOR: hand; COLOR: #512e0b; PADDING-TOP: 1px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana; HEIGHT: 20px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.command4_button
{
BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 8px; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(../images/button4char.gif); PADDING-BOTTOM: 2px; MARGIN: 2px 0px 1px 2px; OVERFLOW: hidden; BORDER-LEFT: medium none; WIDTH: 80px; CURSOR: hand; COLOR: #512e0b; PADDING-TOP: 1px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana; HEIGHT: 20px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.command6_button
{
BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 8px; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(../images/button6char.gif); PADDING-BOTTOM: 2px; MARGIN: 2px 0px 1px 2px; OVERFLOW: hidden; BORDER-LEFT: medium none; WIDTH: 100px; CURSOR: hand; COLOR: #512e0b; PADDING-TOP: 1px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana; HEIGHT: 20px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.command8_button
{
BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 8px; PADDING-RIGHT: 8px;FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(../images/button8char.gif); PADDING-BOTTOM: 2px; MARGIN: 2px 0px 1px 2px; OVERFLOW: hidden; BORDER-LEFT: medium none; WIDTH: 150px; CURSOR: hand; COLOR: #512e0b; PADDING-TOP: 1px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana; HEIGHT: 20px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
.input_text
{
font: normal 9pt "Verdana", "Arial", "Helvetica", "sans-serif"; border: solid; border-color: #CCCCCC #999999 #000000; vertical-align: middle; border-width: 1px 1px 1px 1px; background-color:transparent; color: #333333
}

.select_quick_bak { font: normal 9pt "Verdana", "Arial", "Helvetica", "sans-serif"; vertical-align: middle; background: #FFFFFF}

.content {  font-family: "宋体"; font-size: 14px}
.sqldesc     { font-family: 宋体;  background-color:'beige'}
.pane {
  display : none;
  }
td.tabs {
}
div.tabs {
   background-color : #FFFFFF;
  cursor : hand;
  }
.TextTab {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: white; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
/* Dropdown styles --------------------------------------------------------------------------- */

.DropDown	{text-decoration: none; font-weight: normal; top: 0pt;} 
.DropDown:hover	{text-decoration: underline; }

			
.HidePopUp 	{text-decoration: none; }
.HidePopUp:hover{text-decoration: underline; }

.Glossary	{text-decoration: none; }
.glossary:hover	{text-decoration: underline; }
				
.Glossarydef	{color: #008C00; text-decoration: none;}

.srcContent 	{ }

.expfav		{font-size: 80%; text-align: Right; margin-top: -1em; margin-bottom: 0; }

.expanded	{font-weight: normal;color:navy; background:#ECEFF8 }	

.collapsed	{display: none;}	
			 	
.def		{margin-top: 40pt;}	

.PreferSelect { font-family: 宋体; FONT-SIZE: 8pt;}