#obj-body{
margin: 0px 0px 0px 0px;
padding: 0;
border: 0;
font-family:Tahoma,Arial;
font-size:76%;
background-color:#fff;
text-align:left;

}
#maintab-body{
margin: 0px 0px 0px 0px;
padding: 0;
border: 0;
font-family:Tahoma,Arial;
font-size:76%;
background-color:#fff;
text-align:left;
}

#inc-line-buttons{
 text-align: right;
 padding:3px 10px 0px 0px;
}
#tabs{
 padding:8px 0px;
 width:770px;
}
#embed-items{
/*height: expression( this.scrollHeight > 260 ? "260px": (this.scrollHeight < 100 ?"100px": "auto") );
max-height:260px;
min-height:100px;
*/
height:260px;
width:750px;
overflow:auto;
padding:0px;
}	
#hidden_iframe{
	display :none;
}
#obj-top{
 display :none;
}
#obj-content{
padding:0px 15px 4px 15px;
}
#obj-bottom{ 
clear: both;
display :block;
}
#inline-obj{
padding:0px;
}
#inline-obj-inputs{

}
table.inlineobjtb td div.tabnav {
font-weight:bold;
line-height:normal;
list-style-type:none;
margin:5px;
text-align:left;
height: 20px;
padding-top: 0px;
padding-right: 0px;
magin-bottom: 0px;
padding-left:5px;
}
table.inlineobjtb td div.tabnav span{
display:inline;
position:relative;
top:3px;
color:#003399;
background:url(/html/nds/images/bullet_orange.gif) no-repeat;
text-decoration:none;
padding:0px 0px 0px 12px;
}

/* begin objtb*/
div.objtb div.msg-error{
color:#FF0000;
font-weight:bold;
float:center;
}
div.objtb div.title{
float:left;
margin-left:-100%
text-align:center;
color:#FC4013;
font-weight:bold;
font-size:10pt;
padding:5px 4px 0px 0px ;
height:50px;
width:80px;
z-index:1;
}
div.objtb div.title div.titletxt{
 border:medium double #FC4013;
}
div.objtb div.comments{
float:right;
text-align:right;
position:relatvie;
width:600px;
z-index:1;
padding:2px;
}
div.objtb div.obj{
    width:770px;
    clear:both;
    border: 1px solid #678FC2;
    background-color:#fff;
    padding:3px 0px;
    margin:3px 0px 0px 0px;
}
div.objtb div.obj table.objtb{
    width:100%;
    clear:both;
}
div.objtb div.comments span.linknote{
color:#666666;
font-style:italic;
cursor: pointer;
_cursor:hand;
}
table.objtb td{

}
table.objtb td div.tabnav {
font-weight:bold;
line-height:normal;
list-style-type:none;
margin:5px;
text-align:left;
background:url(/html/nds/images/from-center-bg.jpg);
height: 20px;
padding-top: 0px;
padding-right: 0px;
magin-bottom: 0px;
padding-left:5px;
}
table.objtb td div.tabnav span{
display:inline;
position:relative;
top:3px;
color:#11449E;
background:url(/html/nds/images/bullet_orange.gif) no-repeat;
text-decoration:none;
padding:0px 0px 0px 12px;
}
table.objtb td input.inputline{
}
table.objtb td input:textarea{
}

div.objtb div.tabs{
width: 730px; 
padding:1px 1px 5px 1px;
background-color:#E5EBF3;
border:1px solid #999999;
margin:1px 0px 5px 0px;
}
#emtbts_lgd{
	background:url(/html/nds/images/button_yellow.gif) no-repeat;
	height:26px;
	width:100px;
	float:left;
}
#legend_line{
	font-weight:bold;
	font-size:12px;
	color: #10509E;
	padding:8px 0px 0px 8px;
}
#emtbts_cks{
	float:left;
	padding:6px 0px 0px 0px;
}
#emtbts_btns{
	float:right;
	padding:2px 20px 0px 0px;
}
fieldset.line{
  border: 1px groove #CCCCCC; 
  padding: 0px 0px 0px 5px;
} 
.modify_table,
#modify_table{
background-color:#fff;
border-collapse: collapse;
border:1px solid #77A5E0;
}
.modify_table thead,
#modify_table thead {
background:	#fff;
}
.modify_table thead td,
#modify_table thead td {
border:	1px solid #77A5E0;
background:url(/html/nds/images/obj-center-menu-bg.jpg);
cursor: pointer;
_cursor:hand;
}
.modify_table tr,
#modify_table tr {
height:20px;
}
.modify_table td,
#modify_table td {
white-space: nowrap;
}
#quick_search_data{
 line-height:normal;
 vertical-align:middle;
 height:18px;
}
div.objtb div.buttons {
  float:left;
  margin: 2px 0px 0px 0px;
  width:735px;
}
#message{
  margin:0px 0px 0px 40px;
  height:16px;
  clear:both;
}
.err-msg{
background:#DEECEF url(/html/nds/images/err.gif) no-repeat scroll 2px 0px;
color:#FF0000;
margin:0px;
padding:0px 0px 0px 20px;
float:left;
}
.info-msg{
background:#DEECEF url(/html/nds/images/ok.gif) no-repeat scroll 2px 0px;
color:#000000;
margin:0px;
padding:0px 0px 0px 20px;
float:left;
}
.ptime{
color:#FF0000;
float:left;
font-size:8pt;
font-weight:normal;
margin:3px 0px 0px 4px;
}
.returnmsg{
border:1px groove #CCCCCC;
font-weight:bold;
margin:10px 0pt 5pt;
padding:3pt 0pt 3px 25px;
text-align:left;
background:url(/html/nds/images/isok.gif) no-repeat left center;
}
.rno, .rno .rnd1, .rno .rnd2 {
background:#FAD163 none repeat scroll 0%;
color:#000000;
}
b.rnd {
background:#FFFFFF none repeat scroll 0%;
display:block;
font-size:1px;
}
.rno, .rno .rnd1, .rno .rnd2 {
background:#FAD163 none repeat scroll 0%;
color:#000000;
}
.sd .rnd1, .sd .rnd2, .sd .rnd1l, .sd .rnd2l, .sd .rnd1r, .sd .rnd2r {
background:#C3D9FF none repeat scroll 0%;
}
b.rnd{
font-size:1px;
}
b.rnd b {
display:block;
height:1px;
overflow:hidden;
}
b.rnd1 {
margin:0pt 2px;
}
b.rnd2 {
margin:0pt 1px;
}
.nt td {
font-weight:bold;
}
.nm {
padding:0pt 15px 1px;
}
div.obj div.desc-txt{
margin:0px 0px 4px 5px;
text-align:right;
}
div#inline-obj-inputs div.desc-txt{
border-bottom:1px solid #7E92B1;
border-style:none none solid;
margin:0px 0px 0px 5px;
text-align:right;
}
#inc-edit-line{
background-color:#fff;
border:1px solid #74A2DE;
margin:2px 2px;
width:750px;
}
#statusimg{
height:60px;
left:700px;
position:absolute;
top:20px;
width:80px;
z-index:100;
}
#inline_statusimg{
height:60px;
left:700px;
position:absolute;
top:20px;
width:80px;
z-index:100;
}
.emtbts{
background:#EFF4FA;
}

td.desc{
vertical-align: bottom; 
}
/*ta-columnsPerRow(table wide)-columsThisColumnOccupied(column specific)-rowsThisColumnOccupied(column specific)*/
table.objtb textarea.ta-2-2-6,
table.objtb textarea.ta-3-2-6,
table.objtb textarea.ta-4-2-6{
border: 1px solid #7E92B1;
color: #333333;
padding:0px;

}
table.objtb textarea.ta-2-2-6{
 width:200px;
}
table.objtb textarea.ta-3-2-6{
 width:350px;
}
/*ipt-columnsPerRow(Table Wide)-columsThisColumnOccupied(Column Specific)*/
table.emtb input.ipt-3-1,
table.emtb input.ipt-3-2,
table.objtb input.ipt-2-1,
table.objtb input.ipt-2-2,
table.objtb input.ipt-3-1,
table.objtb input.ipt-3-2,
table.objtb input.ipt-4-1,
table.objtb input.ipt-4-2{  
 border:1px solid #A7C0D6;
 background-color:#EFF4FA;
 color: #333333;
 padding:0px;
 vertical-align: bottom; 
}
table.emtb input.ipt-3-1,
table.emtb input.ipt-3-2,
table.objtb input.ipt-2-1,
table.objtb input.ipt-3-1,
table.objtb input.ipt-4-1{
 width:100px;
}
table.objtb input.ipt-2-2{
 width:200px;
}
table.objtb input.ipt-3-2{
 width:350px;
 border:1px solid #A7C0D6;
 background-color:#EFF4FA;
 vertical-align: middle; 
 color: #333333;
 margin:1px 0px 0px 0px;
}
table.objtb input.ipt-4-2{
 width:120px;
}
.value{
vertical-align:bottom;
padding:0px 0px 4px 4px;
}
.sort-table thead td {
background-color:#FFFFFF;
border:1px solid #DCEDFF;
cursor:pointer;
height:22px;
line-height:22px;
white-space:nowrap;
}
#page-top{
 display:none;
}
.objslm,.objsle,.objsl{
margin:1px 0px 0px 0px;
width:100px;
border:1px solid #A7C0D6;
background-color:#EFF4FA;
}
#maintab{
padding:8px 0px 0px 10px;
width:770px;
}
.modify_table td.hd,
#modify_table td.hd {
background:transparent url(/html/nds/images/obj-center-menu-bg.jpg) repeat scroll 0%;
border:1px solid #77A5E0;
cursor:pointer;
}
#quick_search_data{
VERTICAL-ALIGN: top;
}
.dateview{
FONT-SIZE: 9px; 
COLOR:#BFA277;
}