ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:;border-width:0;border-style:none;border-color:;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
ul#css3menu1 ul{
	visibility:hidden;position:absolute;left:0;top:400%;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";opacity:0;-moz-transition:all 0.5s;-webkit-transition:opacity 0.5s,top 0.5s;-o-transition:opacity 0.5s,top 0.5s;-moz-box-shadow:2.1px 2.1px 4px #333;-webkit-box-shadow:2.1px 2.1px 4px #333;box-shadow:2.1px 2.1px 4px #333;background-color:#E3E7E7;border-width:1px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-style:solid none none;border-color:#E3E7E7;padding:9px 0;filter:alpha(opacity=85)}
ul#css3menu1 li:hover>ul{
	visibility:visible;opacity:1;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1>li:hover>ul{
	opacity:1.85;top:161%;}
ul#css3menu1{
	padding:5px 5px 5px 0;font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;
	*display:inline;}
ul#css3menu1>li{
	margin:0 0 0 3px;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1 ul>li{
	margin:5px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:15px Arial,Verdana;color:black;/*text-shadow:-1px -1px 0 #222222;*/cursor:pointer;padding:6px;background-color:;background-repeat:repeat;border-width:1px;border-style:solid;border-color:transparent;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;background-color:;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;font:12px Arial,Verdana;color:black;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
	/*background-color:#176c79;*/
	border-color:#3f8189 #176c79 #000000 #176c79;
	border-style:solid;color:#FFFFFF;text-decoration:none;text-shadow:-1px -1px 0 #222222;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:5px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-image:url("/html/nds/images/arrowmn.png");background-position:right center;background-repeat:no-repeat;padding-right:28px;}
ul#css3menu1 li:hover>a>span{
	background-image:url("/html/nds/images/arrowmo.png");}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#195F6A;color:#FFFFFF;text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	border-width:1px;border-style:solid;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	border-style:solid;}
