@import url(/html/nds/css/ui.datepicker.css);

a:hover {
text-decoration:underline;
}
body#portal-body {
background-color:#E9EFF5;
height:100%;
}
body * {
font-size:12px;
}
.font-xx-small {
font-size:0.7em;
}
.font-x-small {
font-size:0.8em;
}
.font-small {
font-size:0.9em;
}
.font-large {
font-size:1.1em;
}
.font-x-large {
font-size:1.2em;
}
.font-xx-large {
font-size:1.3em;
}
form {
margin:0pt;
padding:1pt;
}
select {
border:1px solid #CCCCCC;
}
ul {
list-style-type:none;
padding:0pt;
}
img {
border:0pt none;
margin:0pt;
padding:0pt;
}
textarea {
	/*font-size:1em;*/
	font: normal 9pt "Verdana", "Arial", "Helvetica", "sans-serif"; 
}
.form-button {
border:1px solid #9FB7D3;
}
.form-button-hover {
border-color:#FFFFFF rgb(159, 183, 211) rgb(159, 183, 211) rgb(255, 255, 255);
border-style:solid;
border-width:1px;
}
.form-text {
border:1px solid #CCCCCC;
}
.tree-js-pop-up div {
background-color:#D3D3D3;
border:2px outset #FFFFFF;
display:none;
padding:4px;
position:absolute;
text-align:left;
z-index:10;
}
.pop-up-outer {
background-color:#FFFFFF;
border:1px solid #383838;
}
.pop-up-inner {
border:1px solid #747474;
}
.pop-up-header {
background-color:#000000;
height:25px;
}
.pop-up-title {
color:#FFFFFF;
font-weight:bold;
padding-left:10px;
}
.pop-up-close a {
color:#FFFFFF;
margin-right:7px;
text-decoration:underline;
white-space:nowrap;
}
.alpha {
background-color:#9FB7D3;
}
.alpha-gradient {
background:transparent url(/html/themes/classic/color_schemes/01/portlet_title_bg_gradient.gif) repeat-x scroll 0%;
}
.alpha-neg-alert {
color:#FF0000;
}
.alpha-pos-alert {
color:#007F00;
}
.alpha-separator {
background:transparent url(/html/themes/classic/color_schemes/01/portlet_title_bg_x.gif) repeat-x scroll 0%;
font-size:0pt;
height:1px;
}
a.alpha {
background:transparent none repeat scroll 0%;
color:#000000;
text-decoration:none;
}
a.alpha:hover {
color:#000000;
text-decoration:underline;
}
font.alpha {
background:transparent none repeat scroll 0%;
color:#000000;
}
.beta {
background-color:#90ABCC;
}
.beta-gradient {
background:transparent url(/html/themes/classic/color_schemes/01/portlet_menu_bg_gradient.gif) repeat-x scroll 0%;
}
.beta-neg-alert {
color:#FF0000;
}
.beta-pos-alert {
color:#007F00;
}
.beta-separator {
background:transparent url(/html/themes/classic/color_schemes/01/portlet_menu_bg_x.gif) repeat-x scroll 0%;
font-size:0pt;
height:1px;
}
a.beta {
background:transparent none repeat scroll 0%;
color:#000000;
text-decoration:none;
}
a.beta:hover {
color:#000000;
text-decoration:underline;
}
.beta {
background:transparent none repeat scroll 0%;
color:#000000;
}
.gamma {
background-color:#FFFFFF;
}
.gamma-gradient {
background:transparent url(/html/themes/classic/color_schemes/01/portlet_bg_x.gif) repeat-x scroll 0%;
}
.gamma-neg-alert {
color:#FF0000;
}
.gamma-pos-alert {
color:#007F00;
}
.gamma-tab {
background:url(/html/nds/themes/classic/01/images/from-center-bg.jpg) repeat-x scroll;
margin:0;
padding-bottom:35px;
padding-left:0px;
}
.gamma-tab ul, .gamma-tab li {
float:left;
padding:2px 10px;
}

.gamma-tab ul.current, .gamma-tab li.current {
border:0px;
color:#484848;
font-size: 12px;
font-weight:bold;
position:absolute;
padding-top:10px;
}

.gamma-tab li a {
color:#777777;
}
.gamma-tab li.current a {
color:#000000;
}
.gamma-tab li.toggle {
background:transparent none repeat scroll 0%;
border:0px none;
float:right;
margin-right:0px;
padding-right:0px;
}
a.gamma {
background:transparent none repeat scroll 0%;
color:#000000;
text-decoration:none;
}
a.gamma:hover {
color:#000000;
text-decoration:underline;
}
font.gamma {
background:transparent none repeat scroll 0%;
color:#000000;
}
.bg {
background-color:#FFFFFF;
}
.bg-neg-alert {
color:#FF0000;
}
.bg-pos-alert {
color:#007F00;
}
a.bg {
background:transparent none repeat scroll 0%;
color:#000000;
text-decoration:none;
}
a.bg:hover {
color:#000000;
text-decoration:underline;
}
font.bg {
color:#000000;
}
tr.even {
background-color:#90ABCC;
color:#000000;
}
tr.odd {
background-color:#FFFFFF;
color:#000000;
}
.abody_class {
}
.input-text {
background-color:#FFFFFF;
color:#000000;
}
.stab{
border:1px solid #ccc;
background-color:#fff;
clear:both;
margin:0px;
padding:5px;
}
.cul{
  float:left;
  height:21px;
  text-align:left;
  margin:0px;
  padding:0px;
}
.cul ul{
  margin:0px;
  padding:0px;
}
.cul li {
background:transparent url(/html/nds/images/libtn.png) no-repeat scroll right -21px !important;
display:inline;
float:left;
height:21px;
margin:0pt 3px;
list-style-type:none;
}
.cul li a{
background:transparent url(/html/nds/images/libtn.png) no-repeat scroll left 0px !important;
color:#111111;
display:block;
float:left;
font-size:12px;
height:21px;
line-height:21px;
padding:0px 6px 0px 7px;
margin:0px;
}
.portlet-loading {
	background: url(/html/nds/images/progress_bar/loading_animation.gif) no-repeat top left;
	margin-top: 10px;
	padding-top: 40px;
	text-align: left;
}
input[type="button"]{
background:transparent url(/html/nds/themes/classic/01/images/button_bg.gif) repeat scroll 0%;
border:1px solid #a7a7a7;
padding:0 4px;
+padding:0px;/*IE*/
}
.cbutton{height:20px;
background:transparent url(/html/nds/themes/classic/01/images/button_bg.gif) repeat scroll 0%;
border:1px solid #BFA277;
}

.smalltab{
border:1px solid #ccc;
background-color:#fbfbfb;
clear:both;
margin:5px 0px;
padding:0px;
}
.menu-bar {
	border-bottom:	2px groove;
	border-left: 2px groove;
	border-top: 2px groove;
	border-right: 2px groove;
	padding: 1px; font: menu;
}
.blankrow{
	display:none;
}
.warning {
	color:	red;
}
.sort-table {
	background:			Window;
	border-collapse: collapse;
	/*margin-left:5px;*/
	/*margin-right:5px;*/
}

.sort-table thead {
	background:	ButtonFace;
}

.sort-table thead td {
	border:			1px solid #fff;
	/*border-color:	ButtonHighlight ButtonShadow
					ButtonShadow ButtonHighlight;*/
	cursor: pointer;
	_cursor:hand;
}
.sort-table tr {
	height:22px;
}

.PreferSelect {FONT-SIZE: 9pt;}
.hand-span{
	cursor:	hand;
}

.even-row {
	background:	#fff; 
}
.odd-row {
	background:	#fff;
}
.row-M {
	background:	#ffffdd;
}
.row-D {
	background:	#ffdddd;
}
.row-A {
	background:	#ddffdd;
}
.row-E {
	background:	#ffdddd;
}
.row-N {
	background:	#999999;
}
.cbx{
 	height:14px;
 	width:14px;
}
.cbx2{
 	height:14px;
 	width:14px;
}
.readonly-text { border-color: #CCCCCC; border-style: solid; border-width: 1px;}
.comboBoxList {position:absolute;padding: 0px;border: 1px solid  #000;}
.ucase{text-transform: uppercase;}
.pop-up-outer { border: 1px solid #678FC2; background-color: #FFFFFF; }
.pop-up-inner { border: 1px solid #678FC2; }
.pop-up-header { background:url(/html/nds/themes/classic/01/images/from-top-bg.jpg); 
height: 20px; 
padding-top: 2px;
}
.pop-up-title { color: #11449E; font-weight: bold; padding-left: 10px; }
.pop-up-close a { color: #FFFFFF; margin-right: 7px; white-space: nowrap; text-decoration: underline; }
a.helpLink {
border-bottom:0px;
color:red;
cursor:help;
text-decoration:none;
}
a.helpLink:hover {
color:Red;
text-decoration:none;
}
.help-tooltip {
background:infobackground none repeat scroll 0%;
border:1px solid windowframe;
color:infotext;
font-family:status-bar;
padding:3px;
position:absolute;
width:250px;
z-index:1000;
}
.help-tooltip a, .help-tooltip a:hover {
background:transparent none repeat scroll 0%;
color:blue !important;
}

a {color: #0000ff;text-decoration: none}
/*a:visited{text-decoration: none;color: #0000ff;}*/
a:hover{color: #FF6600; text-decoration: underline}
a:active {color: #FF0000}
.object-query-content {
	background-color: #FFFFFF;
	border: 3px solid #000000;
	padding: 0px;
}
.float-window-title{
	background-color: #000000;
	padding: 0px;
	width:510;
}
.float-window-body{
	padding: 8px;
}

.hrRule {border-top-width: 2px;border-top-style: solid;border-color:#6699CC;width:400;}
.inputline {  
font: normal 9pt "Verdana", "Arial", "Helvetica", "sans-serif"; 
border: solid; 
border-color: #CCCCCC #999999 #000000; 
vertical-align: middle; 
border-width: 0px 0px 1px; 
background-color:transparent; 
color: #333333;
}
.disabled {  background-color:#CCCCCC; font-style:italic;color:#FFFFFF;}

.body_class{
	scrollbar-face-color:#EEEEEE;scrollbar-shadow-color: #EEEEEE;scrollbar-darkshadow-color:#999999;
	margin:0px 0px 0px 10px;
}
.input-text{color:#000000;background-color:#EEEEEE;}

/* GLOBAL */

SELECT { border-color: #CCCCCC; border-style: solid; border-width: 1px; }

.form-button { border-color: #6699CC; border-style: solid; border-width: 1px; font-family: Arial; font-size: 10px; }

.form-button-hover { border-bottom: solid 1px #6699CC; border-left: solid 1px #FFFFFF; border-right: solid 1px #6699CC; border-top: solid 1px #FFFFFF; font-family: Arial; font-size: 10px; }

.form-text { border-color: #CCCCCC; border-style: solid; border-width: 1px; font-family: Arial; font-size: 80%; }

/* ALPHA */

A.alpha { color: #000000; text-decoration: none; }

A.alpha:hover { color: #000000; text-decoration: underline; }

TR.alpha { background-color: #6699CC; }

TD.alpha { background-color: #6699CC; }

TD.alpha-gradient { filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#B6CBEB, endColorStr=#6699CC); }

FONT.alpha { color: #000000; font-family: Tahoma, Arial; }

.alpha-neg-alert { color: #FF0000; }

.alpha-pos-alert { color: #007F00; }

/* BETA */

A.beta { color: #000000; text-decoration: none; }

A.beta:hover { color: #000000; text-decoration: underline; }

TR.beta { background-color: #B6CBEB; }

TD.beta { background-color: #B6CBEB; }

TD.beta-gradient { filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#FFFFFF, endColorStr=#B6CBEB); }

FONT.beta { color: #000000; font-family: Tahoma, Arial; }

.beta-neg-alert { color: #FF0000; }

.beta-pos-alert { color: #007F00; }

/* GAMMA */

A.gamma { color: #000000; text-decoration: none; }

A.gamma:hover { color: #000000; text-decoration: underline; }

TR.gamma { background-color: #EEEEEE; }

TD.gamma { background-color: #EEEEEE; }

TD.gamma-gradient { filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#FFFFFF, endColorStr=#EEEEEE); }

FONT.gamma { color: #000000; font-family: Tahoma, Arial; }

.gamma-neg-alert { color: #FF0000; }

.gamma-pos-alert { color: #007F00; }

/* BG */

A.bg { color: #000000; text-decoration: none; }

A.bg:hover { color: #000000; text-decoration: underline; }

TR.bg { background-color: #FFFFFF; }

TD.bg { background-color: #FFFFFF; }

FONT.bg { color: #000000; font-family: Tahoma, Arial; }

.bg-neg-alert { color: #FF0000; }

.bg-pos-alert { color: #007F00; }

/* Display Tag Library */

TR.even { background-color: #B6CBEB; color: #000000; font-family: Tahoma, Arial; }

TR.odd { background-color: #EEEEEE; color: #000000; font-family: Tahoma, Arial; }

/* Portlet CSS */

// Fonts

.portlet-font { color: #000000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-font-dim { color: #000000; font-family: Tahoma, Arial; font-size: medium; }

// Messages

.portlet-msg-status { color: #000000; font-family: Tahoma, Arial; font-size: medium; font-style: italic; }
.portlet-msg-info { color: #000000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-msg-error { color: #FF0000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-msg-alert { color: #000000; font-family: Tahoma, Arial; font-size: medium; font-style: italic; }
.portlet-msg-success { color: #007F00; font-family: Tahoma, Arial; font-size: medium; }

// Sections

.portlet-section-header { color: #000000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-section-body { color: #000000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-section-alternate { color: #000000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-section-selected { color: #000000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-section-subheader { color: #000000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-section-footer { color: #000000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-section-text { color: #000000; font-family: Tahoma, Arial; font-size: medium; }

// Forms

.portlet-form-label { color: #000000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-form-input-field { border-color: #CCCCCC; border-style: solid; border-width: 1px; font-family: Arial; font-size: 80%; }
.portlet-form-button { border-color: #6699CC; border-style: solid; border-width: 1px; font-family: Arial;}
.portlet-icon-label { color: #000000; font-family: Tahoma, Arial; font-size: small; }
.portlet-dlg-icon-label { color: #000000; font-family: Tahoma, Arial; font-size: small; }
.portlet-form-field-label { color: #000000; font-family: Tahoma, Arial; font-size: medium; }
.portlet-form-field { color: #000000; font-family: Tahoma, Arial; font-size: medium; }

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav, .ui-tabs-panel {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 100px; /* be nice to Opera */
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: url(/html/nds/themes/classic/01/images/tab.png) no-repeat;
    background: url(/html/nds/themes/classic/01/images/tab.gif) no-repeat;
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    color: #10509E;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #000;
    padding-top: 0px;
    padding-right: 2px;
}
.ui-tabs-nav a span {
    width: 100px; /* IE 6 treats width as min-width */
    min-width: 100px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 0px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -58px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -38px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0% -18px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    border: 1px solid #678FC2;
    padding: 2px;
    background:#fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

body{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
height: 100%; 
max-height: 100%; 
font-family:Tahoma,Arial;
font-size:76%;
}
* html body{ /*IE6 hack*/
padding: 40px 0px 0px 0px;
}
* html #objtb{ /*IE6 hack*/ 
height: 100%; 
width: 100%; 
}

#objtb{
position: fixed; 
top: 40px;
left: 0px;
right: 0px;
bottom: 0px;
padding:0px 0px 5px 10px;
overflow: auto;
}
#obj-top {
  position:absolute;
  top:0px;
  left:10px;
  height:40px;
  padding: 2px 0px 0px 0px;
  width:901px;
}
#maintab-body{
margin: 0px 0px 0px 0px;
padding: 0;
border: 0;
font-family:Tahoma,Arial;
font-size:76%;
background-color:#fff;
text-align:left;
overflow:auto;
}

#inc-line-buttons{
 text-align: right;
 padding:3px 10px 0px 0px;
}
#tabs{
 padding:8px 0px;
 width:902px;
}
.embed-items-short{height: expression( this.scrollHeight > 260 ? "260px": (this.scrollHeight < 100 ?"100px": "auto") );max-height:260px;min-height:100px;width:891px;overflow:auto;padding:0px;}
.embed-items{
/*height: expression( this.scrollHeight > 260 ? "260px": (this.scrollHeight < 100 ?"100px": "auto") );
max-height:260px;
min-height:100px;
*/
height:260px;
width:891px;
overflow:auto;
padding:0px;
}	
#hidden_iframe{
	display :none;
}
#obj-content{
padding:0px 15px 4px 15px;
}
#obj-bottom{ 
clear: both;
display :block;
}
#inline-obj{
padding:0px;
}
#inline-obj-inputs{

}
table.inlineobjtb td div.tabnav {
font-weight:bold;
line-height:normal;
list-style-type:none;
margin:5px;
text-align:left;
height: 20px;
padding-top: 0px;
padding-right: 0px;
magin-bottom: 0px;
padding-left:5px;
}
table.inlineobjtb td div.tabnav span{
display:inline;
position:relative;
top:3px;
color:#003399;
background:url(/html/nds/images/bullet_orange.gif) no-repeat;
text-decoration:none;
padding:0px 0px 0px 12px;
}

/* begin objtb*/
div.objtb div.msg-error{
color:#FF0000;
font-weight:bold;
float:center;
}
div.objtb div.title{
float:left;
margin-left:-100%
text-align:center;
color:#FC4013;
font-weight:bold;
font-size:10pt;
padding:5px 4px 0px 0px ;
height:50px;
width:80px;
z-index:1;
}
div.objtb div.title div.titletxt{
 border:medium double #FC4013;
}
div.objtb div.comments{
float:right;
text-align:right;
position:relatvie;
width:600px;
z-index:1;
padding:2px;
}
div.objtb div.obj{
    width:902px;
    clear:both;
    border: 1px solid #678FC2;
    background-color:#fff;
    padding:3px 0px;
    margin:3px 0px 0px 0px;
}
div.objtb div.obj table.objtb{
    width:100%;
    clear:both;
}
div.objtb div.comments span.linknote{
color:#666666;
font-style:italic;
cursor: pointer;
_cursor:hand;
}
table.objtb td{

}

table.objtb td div.tabnav,
table.objtb td div.tabnav-2,
table.objtb td div.tabnav-3,
table.objtb td div.tabnav-4 {
font-weight:bold;
line-height:normal;
list-style-type:none;
text-align:left;
height: 20px;
padding-top:3px;
}

table.objtb td div.tabnav-2 {
font-weight:bold;
line-height:normal;
list-style-type:none;
text-align:left;
height: 20px;
padding-top:3px;
background-color:#A7C0D6;
}

table.objtb td div.tabnav span,
table.objtb td div.tabnav-2 span,
table.objtb td div.tabnav-3 span,
table.objtb td div.tabnav-4 span
{display:inline;
position:relative;
color:#11449E;
background:url(/html/nds/images/bullet_orange.gif) no-repeat;
text-decoration:none;
padding:0px 0px 0px 12px;
}

table.objtb td div.tabnav-2 span{
display:inline;
position:relative;
top:3px;
color:#11449E;
background:url(/html/nds/images/bullet_orange.gif) no-repeat;
text-decoration:none;
padding:0px 0px 0px 12px;
}

table.objtb td input.inputline{
}
table.objtb td input:textarea{
}

div.objtb div.tabs{
width: 730px; 
padding:1px 1px 5px 1px;
background-color:#E5EBF3;
border:1px solid #999999;
margin:1px 0px 5px 0px;
}
#emtbts_lgd{
	background:url(/html/nds/themes/classic/01/images/button_yellow.gif) no-repeat;
	height:26px;
	width:100px;
	float:left;
}
#legend_line{
	font-weight:bold;
	font-size:12px;
	color: #10509E;
	padding:8px 0px 0px 8px;
}
#emtbts_cks{
	float:left;
	padding:6px 0px 0px 0px;
}
#emtbts_btns{
	float:right;
	padding:2px 20px 0px 0px;
}
fieldset.line{
  border: 1px groove #CCCCCC; 
  padding: 0px 0px 0px 5px;
} 
.modify_table,
#modify_table{
background-color:#fff;
border-collapse: collapse;
border:1px solid #77A5E0;
}
.modify_table thead,
#modify_table thead {
background:	#fff;
}
.modify_table thead td,
#modify_table thead td {
border:	1px solid #77A5E0;
background:url(/html/nds/images/obj-center-menu-bg.jpg);
cursor: pointer;
_cursor:hand;
}
.modify_table tr,
#modify_table tr {
height:20px;
}
.modify_table td,
#modify_table td {
white-space: nowrap;
}
#quick_search_data{
 line-height:normal;
 vertical-align:middle;
 height:18px;
}
#message{position:absolute;top:20px;
  margin:2px 0px 0px 30px;
  height:16px;
  clear:both;
}
.err-msg{
background:#DEECEF url(/html/nds/images/err.gif) no-repeat scroll 2px 0px;
color:#FF0000;
margin:0px;
padding:0px 0px 0px 20px;
float:left;
}
.info-msg{
background:#DEECEF url(/html/nds/images/ok.gif) no-repeat scroll 2px 0px;
color:#000000;
margin:0px;
padding:0px 0px 0px 20px;
float:left;
}
.ptime{
color:#FF0000;
float:left;
font-size:8pt;
font-weight:normal;
margin:3px 0px 0px 4px;
}
.returnmsg{
border:1px groove #CCCCCC;
font-weight:bold;
margin:10px 0pt 5pt;
padding:3pt 0pt 3px 25px;
text-align:left;
background:url(/html/nds/images/isok.gif) no-repeat left center;
}
.rno, .rno .rnd1, .rno .rnd2 {
background:#FAD163 none repeat scroll 0%;
color:#000000;
}
b.rnd {
background:#FFFFFF none repeat scroll 0%;
display:block;
font-size:1px;
}
.rno, .rno .rnd1, .rno .rnd2 {
background:#FAD163 none repeat scroll 0%;
color:#000000;
}
.sd .rnd1, .sd .rnd2, .sd .rnd1l, .sd .rnd2l, .sd .rnd1r, .sd .rnd2r {
background:#C3D9FF none repeat scroll 0%;
}
b.rnd{
font-size:1px;
}
b.rnd b {
display:block;
height:1px;
overflow:hidden;
}
b.rnd1 {
margin:0pt 2px;
}
b.rnd2 {
margin:0pt 1px;
}
.nt td {
font-weight:bold;
}
.nm {
padding:0pt 15px 1px;
}
div.obj div.desc-txt{
margin:5px 0px 4px 5px;
text-align:left;
}
div#inline-obj-inputs div.desc-txt{
border-bottom:1px solid #7E92B1;
border-style:none none solid;
margin:0px 0px 0px 5px;
text-align:left;
}
#inc-edit-line{
background-color:#fff;
border:1px solid #74A2DE;
margin:2px 2px;
width:891px;
}
#statusimg{
height:60px;
right:0px;
position:absolute;
top:0px;
width:80px;
z-index:60;
}
#inline_statusimg{
height:60px;
left:700px;
position:absolute;
top:20px;
width:80px;
z-index:60;
}
.emtbts{
background:#EFF4FA;
}

td.desc{
vertical-align: bottom;
background-color:#efefef; 
text-align:left;
padding-left:5px;
}
/*ta-columnsPerRow(table wide)-columsThisColumnOccupied(column specific)-rowsThisColumnOccupied(column specific)*/
table.objtb textarea.ta-2-2-6,
table.objtb textarea.ta-3-2-6,
table.objtb textarea.ta-4-2-6{
border: 1px solid #7E92B1;
color: #333333;
padding:0px;

}
table.objtb textarea.ta-2-2-6{
 width:200px;
}
table.objtb textarea.ta-3-2-6{
 width:350px;
}
/*ipt-columnsPerRow(Table Wide)-columsThisColumnOccupied(Column Specific)*/table.emtb input.ipt-4-1,table.emtb input.ipt-4-2,
table.emtb input.ipt-3-1,
table.emtb input.ipt-3-2,
table.objtb input.ipt-2-1,
table.objtb input.ipt-2-2,
table.objtb input.ipt-3-1,
table.objtb input.ipt-3-2,
table.objtb input.ipt-4-1,
table.objtb input.ipt-4-2{ 
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #A7C0D6; 
  color: #333333;
  padding-top:2px;
  vertical-align: bottom; 
}
table.emtb input.ipt-3-1,
table.emtb input.ipt-3-2,
table.objtb input.ipt-2-1,
table.objtb input.ipt-3-1,
table.objtb input.ipt-4-1{
 width:100px;
}

table.objtb input.ipt-2-1
{
 width:280px;
}

table.objtb input.ipt-2-2{
 width:730px;
}
table.objtb input.ipt-3-2{
 width:400px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #A7C0D6; 
 vertical-align: middle; 
 color: #333333;
 margin:1px 0px 0px 0px;
}
table.objtb textarea.ta-4-2-6{
	height:40px;
	width:325px;
}
table.objtb input.ipt-4-2{
 width:325px;
}
.value{
vertical-align:center;
padding:4px;
text-align:left;
vertical-align: bottom;
}
.sort-table thead td {
background-color:#FFFFFF;
border:1px solid #DCEDFF;
cursor:pointer;
height:22px;
line-height:22px;
white-space:nowrap;
}
#page-top{
 display:none;
}
.objslm,.objsle,.objsl{
margin:1px 0px 0px 0px;
width:100px;
border:1px solid #A7C0D6;
background-color:#EFF4FA;
}

.ta-3-4-10{
border:1px solid #A7C0D6;
background-color:#fff;
color:#333;
}

#maintab{
padding:8px 0px 0px 10px;
width:902px;
}
.modify_table td.hd,
#modify_table td.hd {
background-color:#e1ebfd;
border:1px solid #77A5E0;
cursor:pointer;
}
#quick_search_data{
VERTICAL-ALIGN: top;
}
.dateview{
FONT-SIZE: 9px; 
COLOR:#BFA277;
}
.comments{
color:#ff0000;
font-style:none;
font-size:14px;
text-align:left;
}
.div_step{
    width:902px;
    clear:both;
    background-color:#fff;
    padding:3px 0px;
    margin:3px 0px 0px 0px;
    text-align:right;
}
.button_step{
	background:transparent url(/html/nds/themes/classic/01/images/button_bg.gif) repeat scroll 0 50%;
	border:1px solid #BFA277;
	padding:3px 24px;
}
#tabs1 {
    float:left;
    width:902px;
    font-size:93%;
    line-height:normal;
	border-bottom:1px solid #BCD2E6;
	margin: 0px;
}
#tabs1 ul {
	margin:0;
	padding:10px 10px 0 70px;
	list-style:none;
}
#tabs1 li {
    display:inline;
    margin:0;
    padding:0;
}
#tabs1 li.currleft{
    float:left;
    background:url("/html/nds/themes/classic/01/images/li.gif") no-repeat left bottom;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
}
#tabs1 li.left {
    float:left;
    background:url("/html/nds/themes/classic/01/images/li.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
}
.precurr{
    float:left;
    display:block;
    background:url("/html/nds/themes/classic/01/images/pre.gif") no-repeat right top;
    padding:3px 35px 3px 35px;
    color:#627EB7;
} 
.prenocurr{
    float:left;
    display:block;
    background:url("/html/nds/themes/classic/01/images/pre.gif") no-repeat right bottom;
    padding:3px 35px 3px 35px;
    color:#627EB7;
}  
.crosscurr{
    float:left;
    display:block;
    background:url("/html/nds/themes/classic/01/images/cross.gif") no-repeat right top;
    color:#627EB7;
}
.crossnocurr{
    float:left;
    display:block;
    background:url("/html/nds/themes/classic/01/images/cross.gif") no-repeat right bottom;
    color:#627EB7;
}
.allnocurr{
    float:left;
    display:block;
    background:url("/html/nds/themes/classic/01/images/endnocurr.gif") no-repeat right bottom;
    color:#627EB7;
}
.endnocurr{
    float:left;
    display:block;
    background:url("/html/nds/themes/classic/01/images/endnocurr.gif") no-repeat right top;
    padding:3px 55px 3px 56px;
    color:#627EB7;
}
.nocurrtabs{
    float:left;
    display:block;
    background:url("/html/nds/themes/classic/01/images/end.gif") no-repeat right top;
    padding:3px 55px 3px 56px;
    color:#627EB7;
}
.currtabs {
    float:left;
    display:block;
    background:url("/html/nds/themes/classic/01/images/end.gif") no-repeat right bottom;
    padding:3px 55px 3px 56px;
    color:#627EB7;
}
.negative-row{
	color:blue
}
.positive-row{
	font-weight:bold;
}
.null-row{
	font-weight:bold;
}
.notnull-row{
	font-weight:bold;
}

.nonezero-row{
	font-style: italic;
	background-color: #FFCCFF;
}

.zero-row{
	color:red;
}
.red-font-row{
	color:red;
}
.blue-font-row{
	color:blue;
}


.green-font-row{
	color:green;
}
.yellow-font-row{
	color:yellow;
}
.italic-row{
	font-style: italic;
}

.purple-font-row{
	color:purple;
}

.italic-purple-font-row{
	font-style: italic;
    color:purple;
}
.italic-green-font-row{
	font-style: italic;
}
.bold-row{
	font-weight:bold;
}
.inactive-row{
	font-style: italic;
	color:#333;
	background-color: #F3F8FF;
}
.inactive-row A{
	color:#666;
}
.red-light-bg-row{
	background-color: #FEF3F3;
}
.yellow-light-bg-row{
	background-color: #FBF3DC;
}
.green-light-bg-row{
	background-color: #CCFFFF;
}
.blue-light-bg-row{
	background-color: #D3E9FF;
}
.tanla-light-bg-row{
	background-color: #F6FAFF;
}
.grey-light-bg-row{
	background-color: #F8f8f8;
}
.pallida-light-bg-row{
	background-color: #F8EDFF;
}
.brown-light-bg-row{
	background-color: #F1ECE9;
}
.request-row{
	color:green;
}
.reject-row{
	color:red;
}
.accept-row{

}
.auditing-row{
	font-weight:bold;
}
blue-italic-row{
	color:blue;
	font-style: italic;	
}
.green-font-bold-row{
	color:green;
  font-weight:bold;
}
.selected{
   background: #CCCCFF;
}
.toolBar{background: buttonface;border-top: 1px solid buttonface;	border-left: 2px groove;	border-bottom: 1px solid buttonshadow; border-right: 2px groove; padding: 1px; font: menu;}
.coolButton,
.coolButtonHover,
.coolButtonActiveHover,
.coolButtonActive,
.coolButtonActiveDisabled,
.coolButtonDisabled,
.coolButtonUpDisabled {
	cursor: 			Default;
	font: 				Icon;
	font-weight: 		normal;
	padding:			2px;
	border:				0px solid ButtonFace;
	white-space:		nowrap;
	vertical-align:		middle;
}

.coolButton img {
	/*filter:				gray();*/
}

.coolButtonHover {
	border-width:		1px;
	border-left-color:	ButtonHighlight;
	border-right-color:	ButtonShadow;
	border-top-color:	ButtonHighlight;
	border-bottom-color:ButtonShadow;
	padding:			1px;		
}

.coolButtonActiveHover {
	border-width:		1px;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:	ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding:			1px;
}

.coolButtonActive {
	border-width:		1px;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:	ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding:			1px;
	background-image:	url("/html/nds/images/cbback.gif");
}

.coolButtonUpDisabled,
.coolButtonActiveDisabled,
.coolButtonDisabled {
	padding:			1px;
	color:				GrayText;
	border-width: 		1px;
}

.coolButtonActiveDisabled {
	border-width:		1px;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:	ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding:			1px;
}

.coolButtonUpDisabled {
	border-width:		1px;
	border-left-color:	ButtonHighlight;
	border-right-color:	ButtonShadow;
	border-top-color:	ButtonHighlight;
	border-bottom-color:ButtonShadow;
}

/* My latest build of mozilla crashed with the opacity */
.coolButtonUpDisabled img,
.coolButtonActiveDisabled img,
.coolButtonDisabled img {
	-moz-opacity:		0.5;
}

/* IE specific
 * When the button becomes disbabled the innerHTML is enclosed by two spans
 * This is done so that the image will look disabled using filters
 */
.coolButtonUpDisabled .coolButtonDisabledContainer,
.coolButtonActiveDisabled .coolButtonDisabledContainer,
.coolButtonDisabled .coolButtonDisabledContainer {
	display:			block;
	background:			GrayText;
	filter:				chroma(color=#010101) dropshadow(color=ButtonHighlight, offx=1, offy=1);
	width:				100%;
	height:				100%;
	vertical-align:		center;
}

.coolButtonUpDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer,
.coolButtonActiveDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer,
.coolButtonDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer {
	background:			Transparent;
	filter:				gray()
						/* Remove all bright shades of gray */
						chroma(color=#ffffff) chroma(color=#fefefe) chroma(color=#fdfdfd)
						chroma(color=#fcfcfc) chroma(color=#fbfbfb) chroma(color=#fafafa)
						chroma(color=#f9f9f9) chroma(color=#f8f8f8) chroma(color=#f7f7f7)
						chroma(color=#f6f6f6) chroma(color=#f5f5f5) chroma(color=#f4f4f4)
						chroma(color=#f3f3f3) 
						mask(color=#010101);
}

/* end IE specific */
.qline2{
border-bottom: 1px #999999 solid;
border-style:none none solid; 
vertical-align: middle; 
width:120px;
}
.qline3{
border-bottom: 1px #999999 solid;
border-style:none none solid; 
vertical-align: middle; 
width:80px;
}
#query-search-content {
padding:5px 0px 0px 5px;
overflow:visible;
width:600px;
}
#q_search_condition{
 width:590px;
}
#q_result-scroll{
 margin:0px 5px 0px 0px;
 width:600px;
}
#qbtns{
margin:5px 10px 10px 5px;
text-align:right;
}
#qbtns2{
/*margin:5px 10px 10px 5px;*/
text-align:right;
}
#qbtns-multi{
margin:0 0 0 18px;
+margin:5px 10px 10px 5px;/*IE��ִ��*/
float:left;
}
#multi-buttons{
margin:0px 0px 0px 0px;
}
#q_embed_lines,.q_embed_lines{
height: expression( this.scrollHeight > 260 ? "260px": (this.scrollHeight < 100 ?"100px": "auto") );
max-height:260px;
min-height:100px;
width:600px;
overflow:auto;
margin:5px 0px 0px 5px;
}
#q_result-filter-desc{
margin:0px 0px 10px 5px;
font-style:italic;
}
#q_progress{
margin:0px 30px 0px 0px;
}
.comboBoxList {position:absolute;padding: 0px;border: 1px solid  #000;text-align:left;z-index:9;background-color:#FFFFFF;}
#clearline{clear:both;
height:10px;
width:100%;}
#portal-content{
padding:0px;
margin:5px 0px;
}
#column_24293 {
border:2px solid;
color:#FF0000;
font-size:16px;
font-weight:bold;
height:20px;
}
.img-4-2{
 width:320px;
}
.img-2-2{
 width:500px;
}
.img-2-1{
 width:200px;
}
.img-4-1{
 width:150px;
}
#embed-lines{
 overflow-x:auto;
 _padding-bottom:18px;/*for scrollbar*/
 margin-left:5px;
 /*width:expression( document.body.width > 260 ? "260px":(document.body.width-260)+"px" );*/
}
.readonly{
 background-color:#cccccc;
}
#timeoutBox {
background:#FFFFCC none repeat scroll 0% 0%;
border:1px solid #ffdd77;
position:absolute;
padding:0px;
right:0px;
text-align:left;
top:0px;
width:390px;
height:24px;
z-index:1001;
visibility:hidden;
}
#timeout-txt{
color:#FF0000;
vertical-align:middle;
padding:6px 0px 3px 5px;
float:left;
position:relative;
}
#timeout-btn{
float:right;
position:relative;
padding:2px 4px 0px 0px;
}
blink {behavior: url(/html/nds/css/blink.htc);}
#multi-list,.multi-list{
border:0 solid #CCCCCC;
clear:both;
height:350px;
+height:354px;/*IE*/
margin:0;
overflow-y:auto;
padding:0;
width:150px;
+width:166px;/*IE*/
float:left;
}
#cont-multi-button{
margin:0px 0px 0px 0px;
}
#chatback{
padding-left:160px;
padding-top:5px;
position:absolute;
text-align:right;
}
#list-legend{
margin-left:20px;
margin-top:5px;
}

#list-legend SPAN.b{
border:1px outset black;
margin:4px;
padding:2px;
text-align:center;
}
.product-storage{
 width:42px;
}
.product-storage-left{
	float:left;
	width:21px;
	text-align:left;
	background-color:#C0C0FE;
}
.product-storage-right{
	float:left;
	width:21px;
	text-align:right;
	background-color:#C0FEC0;
}
span.ckbox{
 background-image:url(/html/nds/images/checkbox.gif);
background-repeat:no-repeat;
display:block;
height:16px;
width:16px;
}
.num{
text-align:right;
}
.hide{
visibility:hidden;
}
.mid{
vertical-align: middle;
padding:0px;
margin:0px;
}
.show{
display:block;
}
.pd1{
padding:0px 2px 0px 2px;
}
.pd2{
width:8px;
}
table.inlineobjtb{
width:100%;
}
