.page-tab {
    background: url("/html/nds/themes/classic/01/images/hmenuarrow.gif") no-repeat scroll center top #E1EEF6;
    border-bottom: 4px solid #0066CC;
    color: #003366;
    cursor: pointer;
    float: left;
    margin: 0 0 3px 1px;
    text-decoration: none;
}

.page-tab a {
color:#000000;
}

.page-tab-selected, .page-tab-selected a {
    background: url("/html/nds/themes/classic/01/images/hmenuarrowhover.gif") no-repeat scroll center top #84C1FF;
    border-bottom: 4px solid #A6FFFF;
    float: left;
    font-weight: normal;
    height: 30px;
    text-align: center;
}

.page-tab-text {
/*
padding:10px 5px 0pt 6pt;
*/
padding: 12px 13px 2px 11px;
}

.page-tab-text * {
white-space:nowrap;
}

#page-nav-container {
    float: left;
    height: 20px;
    left: 0;
    position: absolute;
    top: 23px;
    right: 0;
    margin: 0 0 0 210px;
}

.page-nav-divider {
/*clear:both;*/
font-size:0pt;
height:2px;
margin-bottom:0px;
width:100%;
background-color:#C9D6E6;
}

.page-nav-selected {
background-color:#5890D2;
}

.page-nav-tabs-box {
height:24px;
position:relative;
}