@import url(/html/nds/css/ui.datepicker.css);

body,div,a,li,input,div,span,td{font-family:"微软雅黑"}
a:hover {
text-decoration:underline;
}
body#portal-body {
background-color:#E9EFF5;
height:100%;
}
body * {
font-size:12px;
}
.font-xx-small {
font-size:0.7em;
}
.font-x-small {
font-size:0.8em;
}
.font-small {
font-size:0.9em;
}
.font-large {
font-size:1.1em;
}
.font-x-large {
font-size:1.2em;
}
.font-xx-large {
font-size:1.3em;
}
form {
margin:0pt;
padding:1pt;
}
select {
border:1px solid #CCCCCC;
}
ul {
list-style-type:none;
padding:0pt;
}
img {
border:0pt none;
margin:0pt;
padding:0pt;
}
textarea {
	/*font-size:1em;*/
	font: normal 9pt "Verdana", "Arial", "Helvetica", "sans-serif"; 
}
.form-button {
border:1px solid #9FB7D3;
}
.form-button-hover {
border-color:#FFFFFF rgb(159, 183, 211) rgb(159, 183, 211) rgb(255, 255, 255);
border-style:solid;
border-width:1px;
}
.form-text {
border:1px solid #CCCCCC;
}
.tree-js-pop-up div {
background-color:#D3D3D3;
border:2px outset #FFFFFF;
display:none;
padding:4px;
position:absolute;
text-align:left;
z-index:10;
}
.pop-up-outer {
background-color:#FFFFFF;
border:1px solid #383838;
}
.pop-up-inner {
border:1px solid #747474;
}
.pop-up-header {
background-color:#000000;
height:25px;
}
.pop-up-title {
color:#FFFFFF;
font-weight:bold;
padding-left:10px;
}
.pop-up-close a {
color:#FFFFFF;
margin-right:7px;
text-decoration:underline;
white-space:nowrap;
}
.alpha {
background-color:#9FB7D3;
}
.alpha-gradient {
background:transparent url(/html/themes/classic/color_schemes/01/portlet_title_bg_gradient.gif) repeat-x scroll 0%;
}
.alpha-neg-alert {
color:#FF0000;
}
.alpha-pos-alert {
color:#007F00;
}
.alpha-separator {
background:transparent url(/html/themes/classic/color_schemes/01/portlet_title_bg_x.gif) repeat-x scroll 0%;
font-size:0pt;
height:1px;
}
a.alpha {
background:transparent none repeat scroll 0%;
color:#000000;
text-decoration:none;
}
a.alpha:hover {
color:#000000;
text-decoration:underline;
}
font.alpha {
background:transparent none repeat scroll 0%;
color:#000000;
}
.beta {
background-color:#90ABCC;
}
.beta-gradient {
background:transparent url(/html/themes/classic/color_schemes/01/portlet_menu_bg_gradient.gif) repeat-x scroll 0%;
}
.beta-neg-alert {
color:#FF0000;
}
.beta-pos-alert {
color:#007F00;
}
.beta-separator {
background:transparent url(/html/themes/classic/color_schemes/01/portlet_menu_bg_x.gif) repeat-x scroll 0%;
font-size:0pt;
height:1px;
}
a.beta {
background:transparent none repeat scroll 0%;
color:#000000;
text-decoration:none;
}
a.beta:hover {
color:#000000;
text-decoration:underline;
}
.beta {
background:transparent none repeat scroll 0%;
color:#000000;
}
.gamma {
background-color:#FFFFFF;
}
.gamma-gradient {
background:transparent url(/html/themes/classic/color_schemes/01/portlet_bg_x.gif) repeat-x scroll 0%;
}
.gamma-neg-alert {
color:#FF0000;
}
.gamma-pos-alert {
color:#007F00;
}
.gamma-tab {
/*
background:url(/html/nds/themes/classic/01/images/from-center-bg.jpg) repeat-x scroll;
*/
background:url("/html/nds/themes/classic/01/images/h2bg.gif") no-repeat scroll left center #FFFFFF;
margin:0;
padding-bottom:30px;
padding-left:0px;
    border-bottom: 1px solid #BACED5;
 
}
.gamma-tab ul, .gamma-tab li {
float:left;
padding:2px 10px;
}

.gamma-tab ul.current, .gamma-tab li.current {
border:0px;
color:#484848;
font-size: 12px;
font-weight:bold;
/*position:absolute;*//*delete by ken to let the menu hide by animation*/
padding-top:10px;
padding: 8px 21px;
}

.gamma-tab li a {
color:#777777;
}
.gamma-tab li.current a {
color:#000000;
}
.gamma-tab li.toggle {
background:transparent none repeat scroll 0%;
border:0px none;
float:right;
margin-right:0px;
padding-right:0px;
}
a.gamma {
background:transparent none repeat scroll 0%;
color:#000000;
text-decoration:none;
}
a.gamma:hover {
color:#000000;
text-decoration:underline;
}
font.gamma {
background:transparent none repeat scroll 0%;
color:#000000;
}
.bg {
background-color:#FFFFFF;
}
.bg-neg-alert {
color:#FF0000;
}
.bg-pos-alert {
color:#007F00;
}
a.bg {
background:transparent none repeat scroll 0%;
color:#000000;
text-decoration:none;
}
a.bg:hover {
color:#000000;
text-decoration:underline;
}
font.bg {
color:#000000;
}
tr.even {
background-color:#90ABCC;
color:#000000;
}
tr.odd {
background-color:#FFFFFF;
color:#000000;
}
.abody_class {
}
.input-text {
background-color:#FFFFFF;
color:#000000;
}
.stab{
border:1px solid #ccc;
background-color:#fff;
clear:both;
margin:0px;
padding:5px;
}
.cul{
  float:left;
  height:21px;
  text-align:left;
  margin:0px;
  padding:0px;
}
.cul ul{
  margin:0px;
  padding:0px;
}
.cul li {
background:transparent url(/html/nds/images/libtn.png) no-repeat scroll right -21px !important;
display:inline;
float:left;
height:21px;
margin:0pt 3px;
list-style-type:none;
}
.cul li a{
background:transparent url(/html/nds/images/libtn.png) no-repeat scroll left 0px !important;
color:#111111;
display:block;
float:left;
font-size:12px;
height:21px;
line-height:21px;
padding:0px 6px 0px 7px;
margin:0px;
}
.portlet-loading {
	background: url(/html/nds/images/progress_bar/loading_animation.gif) no-repeat top left;
	margin-top: 10px;
	padding-top: 40px;
	text-align: left;
}
input[type="button"]{
/* background:transparent url(/html/nds/themes/classic/01/images/button_bg.gif) repeat scroll 0%; */
/*background:transparent url(/html/nds/themes/classic/01/images/bos-bt.png) repeat scroll 0%;*/
background-clolr:#CEEB9F;
border:1px solid #4aa500;
padding: 4px 4px;
+padding:0px;/*IE*/
}
.cbutton{height:22px;
/*background:transparent url(/html/nds/themes/classic/01/images/bos-bt.png) repeat scroll 0%;*/
border:1px solid #BFA277;
/* width:69px; */
color:#484848;
background-color:#CEEB9F;
}
.cbutton:hover{background-color:#c4e09d;}

.smalltab{
border:1px solid #c4e09d;
background-color:#fbfbfb;
clear:both;
margin:5px 0px;
padding:0px;
-webkit-box-shadow: #CEEB9F 0 0 .25em;
-moz-box-shadow: #CEEB9F 0 0 .25em;
box-shadow: #CEEB9F 0 0 .25em;
}

.sumfooter{
background-color:#d1ed9f;
color:#ff0000;
font-weight:bold;
text-align:right;
}
.sqldesc{
/*width:450px;*/
overflow: auto;
display: inline-block;
word-break: break-word;
max-height: 50px;
}
