 body {
	margin:0;
	padding:0;
	font:12px Verdana;
	}
	
	#mingxi-container{
	margin:0 auto;
	padding-top:10px;
	width:902px;}

	img {
	border: none;
	} 
	
	.mingxi-height{
	padding:5px 0;
	clear:both;}

    #mingxi-tabs {
      float:left;
      width:100%;
      font-size:12px;
      line-height:normal;
	  margin-bottom:-1px;
      }
	  
    #mingxi-tabs ul {
	  margin:0;
	  padding:10px 10px 0 30px;
	  list-style:none;
      }
	  
    #mingxi-tabs li {
      display:inline;
      margin:0;
      padding:0;
      }
	  
    #mingxi-tabs a {
      float:left;
     
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
	  
    #mingxi-tabs a span.nor {
      float:left;
      display:block;
      /*background:url("images/tabright10-se.gif") no-repeat right top;*/
      padding:5px 15px 4px 14px;
      color:#FFF;
	  background-color: #CEEB9F;
		border-radius: 6px 6px 0 0;
		/*box-shadow: -1px -1px 3px -1px #CEEB9F, 1px 0px 2px -1px #CEEB9F;*/
      }
	  
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #mingxi-tabs a span {float:none;}
    /* End IE5-Mac hack */
    #mingxi-tabs a:hover span {
      color:#FFF;
      cursor:pointer;
      }
	
	#mingxi-tabs a span.cho{
	border: 1px solid #cdec9c;
	border-bottom: none;
	border-radius: 6px 6px 0 0;
	box-shadow: -1px -1px 3px -1px #CEEB9F, 1px 0px 2px -1px #CEEB9F;
	float:left;
    display:block;
	/*background:url("images/tabright10-se.gif") no-repeat right top;*/
	background-position:0px 0px;
	padding:5px 15px 4px 14px;
	color:#000000;
	background-color: white;
	}	
    #mingxi-tabs a:hover {
	//border:1px solid #000000;
     // background-position:0% -42px;
      }
	  
    #mingxi-tabs a:hover span {
		color:#000000;
      background-position:0px 0px;
      }

    #mingxi-table{
	border:1px solid #cdec9c;
	border-radius: 6px;
	box-shadow: 0 0 0.25em #CEEB9F;
	clear:both;
	padding:20px;}
	
	.mingxi-ct{
	border:1px solid #2763a5;
	clear:both;
	padding:10px 10px 10px 0px;}
	
	.mingxi-search{
	margin:0 auto;
	padding:0;
	width:840px;
	clear:both;}
	
	.mingxi-search-left{
	float:left;
	font:Arial, Helvetica, sans-serif 12px;
	color:#000;
	width:120px;}
	
	.mingxi-search-right{
	float:left;
	font:Arial, Helvetica, sans-serif 12px;
	color:#000;

	text-align:right;
	padding-right:20px;}
	
	.mingxi-60{
	width:60px;
	border:1px solid #cccccc;
	color:#000;}
	
	.cbutton  {
	background:url(images/button_bg.gif) repeat scroll 0 50% transparent;
	border:1px solid #A7A7A7;
	height:20px;
	}
	
	.mingxi-page{
	margin:0 auto;
	padding:0;
	width:800px;
	clear:both;}
	
	.mingxi-head  {
	background-color: #cdec9c;
	
	border: 1px solid #CFCFCF;
	color:#000000;
	font-weight:bold;
	height:24px;
	line-height:24px;
	overflow:hidden;
	white-space:nowrap;
	clear:both;
    }
	
	.mingxi-head div.span-1, .mingxi-head div.span-2, .mingxi-head div.span-3, .mingxi-head div.span-4, .mingxi-head div.span-5, .mingxi-head 		div.span-6, .mingxi-head div.span-7, .mingxi-head div.span-8, .mingxi-head div.span-10, .mingxi-head div.span-11, .mingxi-head div.span-12 {
	//border-left:1px solid #FFFFFF;
	border-right:1px solid #DBE2E7;
	margin:0;
	padding:0 5px;
	}
	.ggrey{
		background-color:#f8f8f8;
	}
	.mingxi-head div.span-9,{
	//border-left:1px solid #FFFFFF;
	border-right:none;
	margin:0;
	padding:0 5px;
	}
	div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
	float:left;
	margin-right:10px;
	overflow:hidden;
	}

	.span-1 {
	width:122px;
	}
	
	.span-2 {
	width:158px;
	}
	
	.span-3 {
	width:125px;
	
	}
	
	.span-4 {
	width:125px;
	color:#0066ff;
	}
	
	.span-5 {
	width:142px;
	color:#FF0000;
	}
	
	.span-6 {
	width:142px;
	color:#0066ff;
	}
	
	.span-7 {
	width:192px;
	}
	
	.span-8 {
	width:210px;
	}
	
	.span-9 {
	min-width:141px;
	}
	
	.span-10 {
	width:158px;
	}
	
	.span-11 {
	width:142px;
	}
	
	#mingxi-main  {
	background:none repeat scroll 0 0 #FFFFFF;
	overflow-x:hidden;
	overflow-y:auto;
	clear:both;
	border: 1px solid #DDDDDD;
	}
	#fund-main  {
	background:none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CFCFCF;
	overflow-x:hidden;
	overflow-y:auto;
	clear:both;
	}
	.mingxi-sidebar div.span-1, .mingxi-sidebar div.span-2, .mingxi-sidebar div.span-3, .mingxi-sidebar div.span-4, .mingxi-sidebar div.span-5, .mingxi-sidebar div.span-6, .mingxi-sidebar div.span-7, .mingxi-sidebar div.span-8, .mingxi-sidebar div.span-9, .mingxi-sidebar div.span-10, .mingxi-sidebar div.span-11, .mingxi-sidebar div.span-12 {
	border-left:1px solid #FFFFFF;
	border-right:1px solid #DBE2E7;
	margin:0;
	padding:0 5px;
	}
	
	div.row  {
	
	
	clear:both;
	line-height:24px;
	white-space:nowrap;
	}
	
	div.row .row-line {
	border-bottom:1px solid #DDDDDD;
	font-size:12px;
	height:24px;
	overflow:hidden;
	}
