body,#boo{
 margin:0px auto;
 padding:0px;
 text-align:left;
 overflow:visible;
 border:0;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#000;
}
/*****11.26 coolButton style modify by zhou*****/
.coolButtonHover{
    border-bottom:solid 1px;
    border-right:solid 1px;
}
.coolButtonActiveHover{
    border-bottom:0px;
    border-right:0px;
    border-top:solid 1px;
    border-left:solid 1px;
}
/**************************************************************/

.command2_button{
    vertical-align:top;
    margin-top:0;
}
#box-button1 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/html/nds/themes/classic/01/images/button_bg.gif) repeat scroll 0 50%;
border:1px solid #A7A7A7;
cursor:pointer;
height:20px;
margin-top:0;
vertical-align:top;
}
*html #box-button1{
    padding-top:3px;
}
*+html #box-button1{
    padding-top:3px;
}
#button2 {
/*-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/html/nds/themes/classic/01/images/button_bg.gif) repeat scroll 0 50%;
border:1px solid #A7A7A7;
cursor:pointer;
height:20px;
margin-top:0;
padding: 0px 4px !important;
vertical-align:top;*/
}
*html #button2{
    /*padding-top:3px;*/
}
*+html #button2{
    /*padding-top:3px;*/
}
#ph-btn{
margin:5px 0;
}

td{
    //min-width:50px;
}
#ph-from-btn{
min-width: 700px;
margin:0px 0 5px 30px;
float:left;}

.djh-table{
padding-top:20px;} 

a{
	TEXT-DECORATION: underline;
	font-size: 12px;
	color: #000;
}

a:hover{
    font-size: 12px;
    color:#185589;
    TEXT-DECORATION: underline;
}
	
.ph-height{
height:5px;}

#ph-container{
margin:0;
padding:0;
clear:left;
}
.ph-td-bg{
/*background:url(images/ph-serach-bg.gif) repeat-y scroll;*/
height:110px;
}
#ph-serach-title{
/*background:#ccc;*/
height:20px;
padding-left:25px;
padding-bottom: 5px;
}

#menu {
		  font-family:Arial;
		  font-size:12px;
		  }
		  
	    #menu a, #menu a:visited {
		font-size: 15px;
font-weight: bold;
		  display:block; 
		  float:left;
		  position:relative;
		  /*background-color:#cfe1ef;*/
		  color:#4aa500; 
		  text-decoration:none;
		  padding:2px 10px;
		  margin:1px 0 0 5px; 
		  }
		 
		 #menu a span{
		 height:0;
		 width:0;
		 border-bottom:solid 6px #cfe1ef;
		 border-left:solid 6px #ccc;
		 position:absolute;
		 top:0;
		 left:0;
		 overflow:hidden;
		 }
		  
		#menu a:hover{
		/*background-color: #c4e09d!important;;*/
		color:#4aa500;
		}
		
		#menu a:hover span{
		border-bottom:solid 6px #024770;
		}
.custombutton{
	height: 24px;
	line-height: 24px;
	vertical-align: center;
	padding: 4px 0px 0 8px;
	display: block;
	float: left;
	margin-left: 6px;
	line-height: 15px;
	vertical-align: middle;
	height: 18px;
	min-width: 50px;
	border: 1px solid #4aa500;
	text-align: center;
	letter-spacing: 1px;
	white-space: nowrap;
	color: #484848;
	background-color: #CEEB9F;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}
.custombutton:hover{
	background: #c4e09d!important;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}
#ph-serach-bg{
background-color:#f0f0f0;
height:100px;
border: 1px solid #BDB9B9;
}

.table_title{
	overflow:hidden;
}

div.objtb div.obj {
border:1px solid #678FC2;
clear:both;
margin:3px 0 0;
padding:3px 0;
width:802px;
}

.ph-desc {
padding-left:5px;
text-align:left;
vertical-align:bottom;
}

div.obj div.desc-txt {
margin:5px 0 4px 5px;
text-align:right;
}

.ph-value {
padding:4px;
text-align:left;
vertical-align:bottom;
}

select {
border:1px solid #a7c0d6;
}

.ipt-4-2 {
	color:#333333;
	padding-top:2px;
	vertical-align:bottom;
	width:100px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #BDB9B9;
	background-color:#f0f0f0;
}

.notes{
    background-color:#f0f0f0;
    border-bottom:1px solid #BDB9B9;
    border-style:none none solid;
    color:#333333;
    padding-top:2px;
    vertical-align:bottom;
    width:90%;
}
.ucase {
text-transform:uppercase;
}

#ph-pic{
background-color:#F2F7E3;
width: 100%;
border: 1px solid #BDB9B9;
/*width:837px;*/
margin:0;
min-width: 800px;
/*background:url(images/ph-pic-bg-se.gif) no-repeat scroll;*/
/*padding-top:3px;*/
height:100px;}

#ph-pic-img{

float:left;
width:172px;
text-align:center;}

#ph-pic-img-width{
width:160px;
padding:7px 0px 0px 10px;}

#ph-pic-img-border{
border:1px #e0e0e0 solid;
width:86px;
height:85px;
float:left;}

#ph-pic-img-txt{
font-size:12px;
color:#000000;
padding-top:18px;
line-height:20px;
vertical-align:middle;
text-align:left;
width:50px;
float:right;}

#ph-pic-left{
float:left;
width:221px;
}


#ph-pic-left01{
float:left;
width:222px;
}

#ph-pic-txt{
padding:25px 0px 0px 15px;
width:160px;}

#ph-pic-txt ul{
list-style:none;
margin:0;
padding:0;}

#ph-pic-txt li{
width:160px;
}

#ph-pic-txt li .left{
font-size:12px;
width:100px;
float:left;
text-align:right;
line-height:18px;}

#ph-pic-txt li .left-red{
font-size:12px;
width:100px;
float:left;
text-align:right;
line-height:18px;}

#ph-pic-txt li .right{
font-size:12px;
width:60px;
float:left;
text-align:left;
line-height:18px;}

#ph-pic-txt li .right-red{
font-size:12px;
width:60px;
float:left;
text-align:left;
line-height:18px;}

#ph-pic-right{
float:left;
}

#ph-from-left{
width:169px;
height:432px;
overflow:hidden;
float:left;
padding-left:5px;
}

#ph-from-height{
height:5px;}

#ph-from-left-bg{
background:url(images/ph-from-left-bg-se.gif) no-repeat scroll;
width:169px;
height:432px;
}

.left-search{
padding:2px 10px 0px 0px;
float:right;}

.left-search-input{
background-color: #f0f0f0;
border: 1px #BDB9B9 solid;
width:100px;}

#left-section-height{
height:70px;
}

#left-section{
width:159px;
height:300px;
overflow:auto;
text-align:center;
}

#left-section ul{
list-style-type:disc;
margin:0;
padding:0;
width:150px;
text-align:center;
padding-left:0px;}

#left-section li{
width:159px;
text-align:left;
list-style-position: inside;
}

#left-section li .txt-off{
background-color:#1a568a;
width:116px;
height:22px;}

.section-txt{
padding:4px 0px 0px 14px;
color:#FFFFFF;}

#left-section li .txt-on{
color:#000;
line-height:20px;
cursor:pointer;
text-align:left;
padding-left:20px;
}

.ph-from-right{
padding-right: 2px;
text-align:left;
}


#ph-from-right-border{
/*border:1px solid #ccc;*/
/*background:#f1f5f9;*/
display:inline-block;
float:left;
text-align:left;
/*padding-left: 1px;*/
}

#ph-from-right-b{
/*padding:10px 10px 0px;*/
text-align:left;
}

#ph-from-right-table{
display:block;
clear:both;
text-align:left;
}

.forTableTitle{
display:block;
clear:both;
}
/*11.26 search.jsp popup multipleSelected object style ..modify by zhou */
#btn-remove-rows{
   width:80px; 
}
.modify_table{
margin-top: 10px;
}
/***************************************************************/
#fund_table1 .modify_table,#ph-from-right-table .modify_table{
background-color:#FFFFFF;
border:1px solid #BDB9B9;
border-collapse:collapse;
}
.table-title-bg{
background:url(images/ph-table-title-bg-se.gif) repeat scroll;
height:20px;
color:#FFFFFF;}

.td-bg{
background-color:#FFFFFF;
line-height:20px;
font-size:12px;
color:#000;}
.td-bg-se{
background-color:#f8f8f8;
line-height:20px;
font-size:12px;
color:#000;}
.td-title{
color:#000000;
text-align:center;
font-size:12px;}

.td-font{
color:#000000;
text-align:center;
font-size:12px;
word-break:keep-all;
}

.td-font-blue{
color:#186dbd;
text-align:center;
font-size:12px;}

.td-font-purple{
color:#711a8a;
text-align:center;
font-size:12px;}

.td-font-input{
	color:#FF0000;
	text-align:left;
	font-size:12px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #000000;

}

#ph-footer{

margin:0;
padding:10px 0px 0px 0px;
clear:both;
text-align:center;}

#ph-footer-bg{
background-color: #BDB9B9;
height: 1px;
width: 80%;
margin-left: auto;
margin-right: auto;}

#ph-footer-txt{
font-size:12px;
color:#8e8e8e;
padding-top:5px;
}

#auto-bg{
background:url(images/zdlh-bg-se.jpg) no-repeat scroll;
width:710px;
height:384px;
margin:0 auto;
padding:0;}

#auto-main{
margin:0 auto;
width:650px;
padding-top:40px;
color:#FFFFFF;}

#auto-menu{
float:right;
margin:4px 20px 0 0;} 

 #tabsG {
      float:left;

      font-size:12px;
      line-height:normal;
      }
    #tabsG ul {
	margin:0;
	padding:5px 10px 5px 20px;
	list-style:none;
      }
    #tabsG li {
      display:inline;
      margin:0;
      padding:0;
	  
	  /*font-weight:bold;*/
	  font-size:13px;
      } 
      
    #tabsG a {
      float:left;
      background:url("images/tableftG.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabsG a span {
      float:left;
      display:block;
      background:url("images/tabrightG.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#000;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsG a span {float:none;}
    /* End IE5-Mac hack */
    #tabsG a:hover span {
      color:#FFF;
      }
    #tabsG a:hover {
      background-position:0% -42px;
      }
    #tabsG a:hover span {
      background-position:100% -42px;
      }

#auto-border{

/*padding-top:15px;*/
padding-left:10px;
clear:both;
display:block;
height:350px;
margin:0 auto;
text-align:center;}

#auto-bl{
/*background:url(images/auto-bl.gif) no-repeat scroll;*/
text-align:left;
/*height:70px;*/
width:496px;}

#auto-bl-title{
font-size:12px;
text-align:left;
font-weight:bold;
width:130px;
margin-left:10px;
padding-top:5px;
color: #000000;
+padding-top:8px;/*IE可执行*/
}

#auto-bl-txt{
width:480px;
padding-left: 10px;
margin:0;
padding-top:10px;
color: #000000;
text-align:center;}

.ph-left-txt {
margin:3px 0 4px 0px;
text-align:left;
/*font-weight:bold;*/
}

.ph-right-txt {
margin:1px 0 4px 2px;
text-align:left;
}

.ph-right-notes {
margin:1px 0 4px 5px;
text-align:left;
color:#000000;
}

.ipt-4-1 {
	color:#000000;
	vertical-align:bottom;
	width:40px;
	border: none;
	/*border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #fff;
	background-color:#457299;*/
}

.auto-height{
height:10px;}

#auto-cl{
/*background:url(images/auto-cl.gif) no-repeat scroll;*/
text-align:left;
height:180px;
width:650px;}


#auto-cl-txt{
width:634px;
margin:0;
padding-top:10px;
color:#000000;
text-align:center;}

#auto-btn{
width:476px;
text-align:right;
padding-right:20px;}

.right-input{
	/*background-color:#457299;*/
	border-bottom-style:solid;
	width:100px;
	background-color: white;
	/*border-bottom-width: 1px;*/
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	/*border-bottom-color: #fff;*/
}

#obj-bottom{
display:none;}

/****09-09-15����ģʽ*******/
.td-left-title{
background-color:#d1ee9c;
color:#000;
line-height:20px;
text-align:left;
padding-left:5px;
font-size:12px;}
.td-left-title-se{
background-color:#fbad19;
color:#000;
line-height:20px;
text-align:left;
padding-left:5px;
font-size:12px;}
.td-right-title{
background-color:#d1ee9c;
color:#000;
line-height:20px;
text-align:center;
font-size:14px;}

.td-left-txt{
background-color:#ffffff;
color:#000;
line-height:20px;
text-align:center;
padding-left:5px;
font-size:12px;}

.td-left-txt01{
background-color:#ffffff;
line-height:20px;
font-size:12px;
color:#000;
padding-left:5px;
text-align:left;}

.td-right-txt{
background-color:#ffffff;
line-height:20px;
font-size:12px;
color:#000;
text-align:center;}

.td-right-txtK{
background-color:#ffffff;
line-height:20px;
font-size:14px;
color:#000;
text-align:center;}

.td-right-txtW{
background-color:#ffffff;
line-height:20px;
font-size:14px;
color:#000;
text-align:center;}

.td-right-txtD{
background-color:#ffffff;
line-height:20px;
font-size:14px;
color:#000;
text-align:center;}

.td-txt-input{
	color:#FF0000;
	font-size:14px;
	line-height:20px;
	border:0;
	line-height:20px;
	text-align:center;
	width:97%;

}
