#*
/**
 * Copyright (c) 2000-2006 Liferay, Inc. All rights reserved.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
*#

#if ($layouts.size() > 0)
	<div id="layout-nav-container">
		<div class="layout-nav-tabs">
			<div class="layout-nav-row" style="background-color: none;">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>

				#if ($layout)
					#set($ancestorLayoutId = $layout.getAncestorLayoutId())
				#else
					#set($ancestorLayoutId = "")
				#end

				#foreach($curLayout in $layouts)
					#if ($tilesSelectable.equals("true") && ($layout && ($plid.equals($curLayout.getLayoutId()) || $curLayout.getLayoutId().equals($ancestorLayoutId))))
						#set($isSelectedTab = "true")
						#set($tempVariable1 = "-selected")
					#else
						#set($isSelectedTab = "false")
						#set($tempVariable1 = "")
					#end

					#set($tabHREF = $portalUtil.getLayoutURL($curLayout, $themeDisplay))

					#if ($isSelectedTab.equals("true") && $layoutTypePortlet.hasStateMax())
						#set($curPortletId = "$arrayUtil.getValue($stringUtil.split($layoutTypePortlet.getStateMax()), 0)")

						#set($curPortletURLImpl = $portletURLFactory.create($request, $curPortletId, $plid, false))

						$curPortletURLImpl.setWindowState("normal")
						$curPortletURLImpl.setPortletMode("view")
						$curPortletURLImpl.setAnchor(false)

						#set($tabHREF = $curPortletURLImpl.toString())
					#end

					#set($tabTarget = $portalUtil.getLayoutTarget($curLayout))

					#if (!$curLayout.isHidden())
						<td>
							<div class="layout-nav-tab$tempVariable1">
								<img src="$themeDisplay.getPathThemeImage()/custom/bullet.gif"> <span class="layout-tab$tempVariable1"><a href="$tabHREF" style="font-size: smaller" $tabTarget>$curLayout.getName($locale)</a></span>
							</div>
						</td>
					#end
				#end

				</tr>
				</table>
			</div>
		</div>
	</div>
#end