body{
margin: 0;
padding: 0;
border: 0;
font-family:Tahoma,Arial;
font-size:76%;
SCROLLBAR-FACE-COLOR: #7392AE;
SCROLLBAR-HIGHLIGHT-COLOR: #7392AE;
SCROLLBAR-SHADOW-COLOR: #7392AE;
SCROLLBAR-3DLIGHT-COLOR: #EAF2F8;
SCROLLBAR-ARROW-COLOR: #2C4157;
SCROLLBAR-TRACK-COLOR: #96ACC4;
SCROLLBAR-DARKSHADOW-COLOR: #C1D7EB;
SCROLLBAR-BASE-COLOR: #5E7997;
background-color:#7392AE;
}
#objtb{
margin-top:40px;
padding:0px 0px 5px 10px;
}
div#obj-top { position: absolute; left:10px; top: 0px;
background-color:#7392AE;
height:38px;
padding:2px 0px 0px 11px;
width:902px;
z-index:10;
}
div#obj-top {
	top:expression( ( ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

body > div#obj-top {
background-color:#7392AE;
height:38px;
padding:2px 0px 0px 11px;
position:fixed;
top:0;
width:902px;
z-index:10;
}
.f{
 color:#fff;
}
#maintab-body{
margin: 0px 0px 0px 0px;
padding: 0;
border: 0;
font-family:Tahoma,Arial;
font-size:76%;
background-color:#476388;
text-align:left;
color:#fff;
overflow:auto;
}

#inc-line-buttons{
 text-align: right;
 padding:3px 10px 0px 0px;
}
#tabs{
 padding:8px 0px;
 width:902px;
}
.embed-items{
/*height: expression( this.scrollHeight > 260 ? "260px": (this.scrollHeight < 100 ?"100px": "auto") );
max-height:260px;
min-height:100px;
*/
height:260px;
width:891px;
overflow:auto;
padding:0px;
}	
.embed-items-short{height: expression( this.scrollHeight > 260 ? "260px": (this.scrollHeight < 100 ?"100px": "auto") );max-height:260px;
min-height:100px;
width:891px;
overflow:auto;
padding:0px;
}
#hidden_iframe{
	display :none;
}
#obj-content{
padding:0px 15px 4px 15px;
}
#obj-bottom{ 
clear: both;
display :block;
}
#inline-obj{
padding:0px;
}
#inline-obj-inputs{

}
table.inlineobjtb td div.tabnav {
font-weight:bold;
line-height:normal;
list-style-type:none;
margin:5px;
text-align:left;
height: 20px;
padding-top: 0px;
padding-right: 0px;
magin-bottom: 0px;
padding-left:5px;
}
table.inlineobjtb td div.tabnav span{
display:inline;
position:relative;
top:3px;
color:#003399;
background:url(/html/nds/images/bullet_orange.gif) no-repeat;
text-decoration:none;
padding:0px 0px 0px 12px;
}

/* begin objtb*/
div.objtb div.msg-error{
color:#FF0000;
font-weight:bold;
float:center;
}
div.objtb div.title{
float:left;
margin-left:-100%
text-align:center;
color:#FC4013;
font-weight:bold;
font-size:10pt;
padding:5px 4px 0px 0px ;
height:50px;
width:80px;
z-index:1;
}
div.objtb div.title div.titletxt{
 border:medium double #FC4013;
}
div.objtb div.comments{
float:right;
text-align:right;
position:relatvie;
width:600px;
z-index:1;
padding:2px;
}
div.objtb div.obj{
    width:902px;
    clear:both;
    border: 1px solid #fff;
    background-color:#7392AE;
    padding:3px 0px;
    margin:3px 0px 0px 0px;
    color:#fff;
}
div.objtb div.obj table.objtb{
    width:100%;
    clear:both;
}
div.objtb div.comments span.linknote{
color:#666666;
font-style:italic;
cursor: pointer;
_cursor:hand;
}
table.objtb td{

}

table.objtb td div.tabnav,
table.objtb td div.tabnav-2,
table.objtb td div.tabnav-3,
table.objtb td div.tabnav-4 {
font-weight:bold;
line-height:normal;
list-style-type:none;
text-align:left;
height: 20px;
padding-top:3px;}

table.objtb td div.tabnav-2 {
font-weight:bold;
line-height:normal;
list-style-type:none;
text-align:left;
height: 20px;
padding-top:3px;
background-color:#D4DCE7;
}

table.objtb td div.tabnav span,
table.objtb td div.tabnav-2 span,
table.objtb td div.tabnav-3 span,
table.objtb td div.tabnav-4 span
{display:inline;
position:relative;
color:#22576F;
background:url(/html/nds/images/bullet_orange.gif) no-repeat;
text-decoration:none;
padding:0px 0px 0px 12px;
}

table.objtb td div.tabnav-2 span{
display:inline;
position:relative;
top:3px;
color:#496185;
background:url(/html/nds/images/bullet_orange.gif) no-repeat;
text-decoration:none;
padding:0px 0px 0px 12px;
}

table.objtb td input.inputline{
}
table.objtb td input:textarea{
}

div.objtb div.tabs{
width: 730px; 
padding:1px 1px 5px 1px;
background-color:#E5EBF3;
border:1px solid #999999;
margin:1px 0px 5px 0px;
}
#emtbts_lgd{
	background:url(/html/nds/themes/classic/06/images/button_yellow.gif) no-repeat;
	height:26px;
	width:100px;
	float:left;
}
#legend_line{
	font-weight:bold;
	font-size:12px;
	color: #fff;
	padding:8px 0px 0px 8px;
}
#emtbts_cks{
	float:left;
	padding:6px 0px 0px 0px;
	color:#fff;
}
#emtbts_btns{
	float:right;
	padding:2px 20px 0px 0px;
}
fieldset.line{
  border: 1px groove #CCCCCC; 
  padding: 0px 0px 0px 5px;
} 
.modify_table,
#modify_table{
background-color:#96ACC4;
border-collapse: collapse;
border:1px solid #7392AE;
}
.modify_table thead,
#modify_table thead {
background:	#fff;
}
.modify_table thead td,
#modify_table thead td {
border:	1px solid #7392AE;
background:url(/html/nds/themes/classic/06/images/from-center-bg.jpg);
color:#fff;
cursor: pointer;
_cursor:hand;
}
.modify_table tr,
#modify_table tr {
height:20px;
/*background:#B3C2D2;*/
}
.modify_table td,
#modify_table td {
white-space: nowrap;
}
#quick_search_data{
 line-height:normal;
 vertical-align:middle;
 height:18px;
}
#message{position:absolute;top:20px;
  margin:2px 0px 0px 30px;
  height:16px;
  clear:both;
}
.err-msg{
background:#DEECEF url(/html/nds/images/err.gif) no-repeat scroll 2px 0px;
color:#FF0000;
margin:0px;
padding:0px 0px 0px 20px;
float:left;
}
.info-msg{
background:#DEECEF url(/html/nds/images/ok.gif) no-repeat scroll 2px 0px;
color:#000000;
margin:0px;
padding:0px 0px 0px 20px;
float:left;
}
.ptime{
color:#FF0000;
float:left;
font-size:8pt;
font-weight:normal;
margin:3px 0px 0px 4px;
}
.returnmsg{
border:1px groove #CCCCCC;
font-weight:bold;
margin:10px 0pt 5pt;
padding:3pt 0pt 3px 25px;
text-align:left;
background:url(/html/nds/images/isok.gif) no-repeat left center;
}
.rno, .rno .rnd1, .rno .rnd2 {
background:#FAD163 none repeat scroll 0%;
color:#000000;
}
b.rnd {
background:#FFFFFF none repeat scroll 0%;
display:block;
font-size:1px;
}
.rno, .rno .rnd1, .rno .rnd2 {
background:#FAD163 none repeat scroll 0%;
color:#000000;
}
.sd .rnd1, .sd .rnd2, .sd .rnd1l, .sd .rnd2l, .sd .rnd1r, .sd .rnd2r {
background:#C3D9FF none repeat scroll 0%;
}
b.rnd{
font-size:1px;
}
b.rnd b {
display:block;
height:1px;
overflow:hidden;
}
b.rnd1 {
margin:0pt 2px;
}
b.rnd2 {
margin:0pt 1px;
}
.nt td {
font-weight:bold;
}
.nm {
padding:0pt 15px 1px;
}
div.obj div.desc-txt{
margin:5px 0px 4px 5px;
text-align:left;
color:#fff;
}
div#inline-obj-inputs div.desc-txt{
border-bottom:1px solid #7E92B1;
border-style:none none solid;
margin:0px 0px 0px 5px;
text-align:left;
}
#inc-edit-line{
border:1px solid #fff;
margin:2px 2px;
width:891px;
}
#statusimg{
height:60px;
right:0px;
position:absolute;
top:0px;
width:80px;
z-index:60;
}
#inline_statusimg{
height:60px;
left:700px;
position:absolute;
top:20px;
width:80px;
z-index:60;
}
.emtbts{
background:#96ACC4;
}

td.desc{vertical-align:top;
text-align:left;
background-color:#96ACC4;
padding-left:5px;
}
/*ta-columnsPerRow(table wide)-columsThisColumnOccupied(column specific)-rowsThisColumnOccupied(column specific)*/
table.objtb textarea.ta-2-2-6,
table.objtb textarea.ta-3-2-6,
table.objtb textarea.ta-4-2-6{
border: 1px solid #7E92B1;
color: #333333;
padding:0px;

}
table.objtb textarea.ta-2-2-6{
 width:200px;
}
table.objtb textarea.ta-3-2-6{
 width:350px;
}
/*ipt-columnsPerRow(Table Wide)-columsThisColumnOccupied(Column Specific)*/table.emtb input.ipt-4-1,table.emtb input.ipt-4-2,
table.emtb input.ipt-3-1,
table.emtb input.ipt-3-2,
table.objtb input.ipt-2-1,
table.objtb input.ipt-2-2,
table.objtb input.ipt-3-1,
table.objtb input.ipt-3-2,
table.objtb input.ipt-4-1,
table.objtb input.ipt-4-2{  
  border-bottom:1px solid #355178;
  border-style:none none solid;
 color: #000000;
 padding:0px;
 vertical-align: bottom; 
}
table.emtb input.ipt-3-1,
table.emtb input.ipt-3-2,
table.objtb input.ipt-2-1,
table.objtb input.ipt-3-1,
table.objtb input.ipt-4-1{
 width:100px;
}
table.objtb input.ipt-2-2{
 width:350px;
}

table.objtb input.ipt-2-1{
 width:280px;
}

table.objtb input.ipt-2-2{
 width:730px;
}


table.objtb input.ipt-3-2{
 width:400px;
  border-bottom:1px solid #355178;
  border-style:none none solid; 
 color: #000000;
 margin:1px 0px 0px 0px;
}
table.objtb textarea.ta-4-2-6{
	height:40px;
	width:325px;
}
table.objtb input.ipt-4-2{
 width:325px;
}
.value{
vertical-align:bottom;
padding:0px 0px 4px 4px;
color:#002F55;
}
.sort-table thead td {
background-color:#FFFFFF;
border:1px solid #DCEDFF;
cursor:pointer;
height:22px;
line-height:22px;
white-space:nowrap;
}
#page-top{
 display:none;
}
.objslm,.objsle,.objsl{
margin:1px 0px 0px 0px;
width:100px;
border:1px solid #355178;
background-color:#96ACC4;
}

.ta-3-4-10{
border:1px solid #355178;
background-color:#96ACC4;
color:#333;
}

#maintab{
padding:8px 0px 0px 10px;
width:902px;
}

.modify_table td.hd,
#modify_table td.hd {
background:#e6e6e6;
border:1px solid #ababab;
cursor:pointer;
}
#quick_search_data{
VERTICAL-ALIGN: top;
border:1px solid #BEBEBE;
/*background-color:#fefefe;*/
}
.dateview{
FONT-SIZE: 9px; 
COLOR:#BFA277;
}

.emtb{
background:#A3BAD4;
}

.desc-txt{
color:#fff;
}

#scrolltb{
color:#fff;
}

.dq-scroll{
background:#A3BAD4;
}

.sumfooter{
background:#7392AE;
color:#ff0000;
}
.comments{
color:#CCCCCC;
font-style:italic;
text-align:left;
}
.nl{
background-color:#F0F0FF;
}