body{
 margin:0px auto;
 padding:0px;
 height:100%;
 text-align:left;
 overflow:visible;
 border:0;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#000;
}

.body-bg{background:url(images/bg.gif) repeat-x scroll;}

#ph-btn{
margin:5px 0px;
} 
/*****11.26 coolButton style modify by zhou*****/
.coolButtonHover{
    border-bottom:solid 1px;
    border-right:solid 1px;
}
.coolButtonActiveHover{
    border-bottom:0px;
    border-right:0px;
    border-top:solid 1px;
    border-left:solid 1px;
}
/**************************************************************/
#ph-from-btn{
margin-left:10px;
float:left;} 

a{
	TEXT-DECORATION: underline;
	font-size: 12px;
	color: #000;
}

a:hover{
    font-size: 12px;
    color:#185589;
    TEXT-DECORATION: underline;
}
	
.ph-height{
height:5px;}

#ph-container{
margin:0;
padding:0;
clear:both;} 

#ph-serach{
margin:0;
width:1003px;
height:130px;
background:url(images/ph-serach-bg.gif) no-repeat scroll;
text-align:left;}


.djh-table{
padding-top:3px;}

.table_title{
	overflow:hidden;
}  

div.objtb div.obj {
border:1px solid #678FC2;
clear:both;
margin:3px 0 0;
padding:3px 0;
width:802px;
}

.ph-desc {
padding-left:5px;
text-align:right;
vertical-align:bottom;
}

.desc-txt {
margin:5px 0 4px 5px;
text-align:right;
}

.ph-value {
padding:4px;
text-align:left;
vertical-align:bottom;
}

select {
border:1px solid #a7c0d6;
}

.ipt-4-2 {
	color:#333333;
	padding-top:2px;
	vertical-align:bottom;
	width:110px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #194370;
	background-color:#e9ecf1;
}

.ucase {
text-transform:uppercase;
}

#ph-pic{
width:1003px;
margin:0 auto;
height:85px;}

#ph-pic-img{
float:left;
width:366px;
text-align:center;}

#ph-pic-img-width{
width:310px;
padding:5px 0px 0px 100px;}

#ph-pic-img-border{
border:1px #e0e0e0 solid;
width:90px;
height:75px;
float:left;}

#ph-pic-img-txt{
font-size:12px;
color:#000000;
text-align:left;
width:175px;
float:right;}

#ph-pic-left{
float:left;
width:221px;
}

#ph-pic-txt{
padding:25px 0px 0px 15px;
width:160px;}

#ph-pic-txt ul{
list-style:none;
margin:0;
padding:0;}

#ph-pic-txt li{
width:160px;
}

#ph-pic-txt li .left{
font-size:12px;
width:100px;
float:left;
text-align:right;
line-height:18px;}

#ph-pic-txt li .left-red{
font-size:12px;
width:100px;
float:left;
color:#FF0000;
text-align:right;
line-height:18px;}

#ph-pic-txt li .right{
font-size:12px;
width:60px;
float:left;
text-align:left;
line-height:18px;}

#ph-pic-txt li .right-red{
font-size:12px;
width:60px;
float:left;
color:#FF0000;
text-align:left;
line-height:18px;}

#ph-pic-right{
float:left;
width:224px;
}

#ph-from-left{
width:204px;
float:left;}

#ph-from-height{
height:5px;}

#ph-from-left-bg{
background:url(images/ph-from-left-bg.gif) no-repeat scroll;
width:194px;
height:420px;}

/*11.26 search.jsp popup multipleSelected object style ..modify by zhou */
#btn-remove-rows{
   width:80px;
}
/***************************************************************/
.notes{
    background-color:#f0f0f0;
    border-bottom:1px solid #194370;
    border-style:none none solid;
    color:#333333;
    padding-top:2px;
    vertical-align:bottom;
    width:240px;
}
.left-search{
padding:5px 20px 0px 0px;
float:right;}

.left-search-input{
background-color:#eff4fa;
border:1px #a7c0d6 solid;
width:100px;}

#left-section-height{
height:70px;
}

#left-section{
width:175px;
height:300px;
overflow:auto;
text-align:center;}

#left-section ul{
list-style:none;
margin:0;
padding:0;
width:150px;
text-align:center;
padding-left:8px;}

#left-section li{
width:130px;
text-align:left;
padding-left:20px;}

#left-section li .txt-off{
background-color:#1a568a;
width:116px;
height:22px;}

.section-txt{
padding:4px 0px 0px 14px;
color:#FFFFFF;}

#left-section li .txt-on{
color:#000;
line-height:20px;
cursor:pointer;
text-align:left;
padding-left:20px;
}
#ph-from-right-border{
border:1px solid #ccc;
background:#f1f5f9;

display:inline-block;
table-layout:fixed;
float:left;
text-align:left;
}

#ph-from-right-b{
padding:10px 10px 0px;
text-align:left;
}

#ph-from-right-table{
display:block;
clear:both;
text-align:left;
}

/***IE6***/
*html #ph-from-right-table{
/*width:auto;
height:335px;
overflow-y:auto;
overflow-x:hidden;
overflow:auto;*/
display:block;
clear:both;
text-align:left;
}

/***IE7***/
*+html #ph-from-right-table{
/*width:auto;
height:335px;
overflow-y:auto;
overflow-x:hidden;
overflow:auto;*/
display:block;
clear:both;
text-align:left;
;}

.forTableTitle{
display:block;
clear:both;	
}

#fund_table1 .modify_table,#ph-from-right-table .modify_table{
background-color:#FFFFFF;
border:1px solid #8db6d9;
border-collapse:collapse;
table-layout:fixed;
}


.table-title-bg{
background:url(images/ph-table-title-bg.gif) repeat scroll;
height:29px;
color:#FFFFFF;}

.td-bg{
background-color:#e9f1f8;
line-height:20px;
font-size:12px;
color:#000;}

.td-title{
color:#FFFFFF;
text-align:center;
font-size:12px;}

.td-font{
color:#000000;
text-align:center;
font-size:12px;
word-wrap:word-break;
word-break:keep-all;
}

.td-font-blue{
color:#186dbd;
text-align:center;
font-size:12px;}

.td-font-purple{
color:#711a8a;
text-align:center;
font-size:12px;}

.td-font-input{
	color:#FF0000;
	text-align:left;
	font-size:12px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #000000;
	
}

#ph-footer{

margin:0;
padding:10px 0px 0px 0px;
clear:both;
text-align:center;}

#ph-footer-bg{
background-color:#5c80af;
height:5px;}

#ph-footer-txt{
font-size:12px;
color:#8e8e8e;
padding-top:5px;
}

#auto-bg{
background:url(images/zdlh-bg.jpg) no-repeat scroll;
width:600px;
height:450px;
margin:0 auto;
padding:0;}

#auto-main{
margin:0 auto;
width:520px;
padding-top:40px;
color:#FFFFFF;
}

.ph-left-txt {
margin:3px 0 4px 2px;
text-align:right;
}

.ph-right-txt {
margin:1px 0 4px 2px;
text-align:left;
}

.ipt-4-1 {
	color:#fff;
	vertical-align:bottom;
	width:40px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #fff;
	background-color:#457299;
}

.auto-height{
height:10px;}

.right-input{
	background-color:#457299;
	border-bottom-style:solid;
	width:100px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-color: #fff;
}
td{
  word-wrap:break-word;
}

#obj-bottom{
display:none;}

/****09-09-15����ģʽ*******/
.td-left-title{
background-color:#2b5fa5;
color:#fff;
line-height:20px;
text-align:center;
padding-left:5px;
font-size:12px;}

.td-right-title{
background-color:#fff;
color:#000;
line-height:20px;
text-align:center;
font-size:14px;}

.td-left-txt{
background-color:#c0d7ea;
color:#000;
line-height:20px;
text-align:left;
padding-left:5px;
font-size:12px;}


.td-right-txt{
background-color:#e9f1f8;
line-height:20px;
font-size:12px;
color:#000;
text-align:center;}

.td-right-txtK{
background-color:#ffe5fd;
line-height:20px;
font-size:14px;
color:#000;
text-align:center;}

.td-right-txtW{
background-color:#fffee5;
line-height:20px;
font-size:14px;
color:#000;
text-align:center;}

.td-right-txtD{
background-color:#e5e9ff;
line-height:20px;
font-size:14px;
color:#000;
text-align:center;}

.td-txt-input{
	color:#FF0000;
	font-size:14px;
	line-height:20px;
	border:0;
	line-height:20px;
	text-align:center;
	width:97%;
}