body {
border:0 none;
font-family:Tahoma,Arial;
font-size:76%;
margin:0;
padding:0;
scroll:auto;
height:100%;
}
a.ph {
color:#FFFFFF;
}
a {
color:#0000FF;
text-decoration:none;
}
#tree-list{
padding:4px 4px 20px 5px;
}
#bar{
background-color:#024770;
height:40px;
min-width:1000px;

}
#tl{
color:#ffffff;
text-align:center;
font-size:24px;
font-weight:bold;
}
#navigation{
color:#FFFFFF;
padding:10px 30px 0 0;
position:absolute;
right:0;
text-align:right;	
top:14px;
}
.title{
color:#333333;
font-size:14px;
font-weight:bold;
padding:8px 0 0 20px;
}
.title-bg {
background:transparent url(/html/nds/portal/ssv/images/title-bg.gif) repeat-x scroll 0 0;
height:28px;
margin:0;
}
.wd{
background-color:#FBFBFB;
border:1px solid #CCCCCC;
clear:both;
display:block;
margin:5px;
padding:0;
}
.wdwhite{
border:1px solid #CCCCCC;
clear:both;
display:block;
margin:5px;
padding:0;	

}
#left{
	float:left;
	padding:5px 0px 5px 5px;
	width:200px;
}
#mid{
	float:left;
	padding:5px 5px 5px 0px;
	max-width:780px;
}
#right{
	float:left;
	padding:5px 5px 5px 0px;
	width:250px;
}
#report{
	
}
.ti{
	
}
li.dot{
background:transparent url(/html/nds/images/portlet/dotred.gif) no-repeat scroll 3px 0;
height:24px;
line-height:24px;
overflow:hidden;
padding-left:14px;
white-space:nowrap;	
}
.rn{
font-size:14px;
font-weight:bold;
color:#024770;
}
.cbutton{
background:transparent url(/box/images/button_on.gif) repeat scroll 0 50%;
border:1px solid #A7A7A7;
cursor:pointer;
height:20px;
margin-top:0;
vertical-align:top;
}
#operation{
	
}
#adv{
	
}
#note{
	
}
#news{
	
}
#bottom {
text-align:center;
clear:both;
padding:50px 0px 2px 0px;
min-width:1000px;
}
#portal-content{
	margin:0px;
}

#content-note {
height:200px;
margin:50px 0px 10px 0px;
text-align:center;
vertical-align:middle;
min-width:600px;
}

#workarea{
	min-width:1000px;
}
.misc{
	padding:10px 5px 5px 5px;
}
.topleft{
text-align:left;
vertical-align:top;
}